Reksa APP/ReksaQuery/ReksaQuery/obj/Debug/ReksaQuery.csproj.CoreCompileInputs.cache
Reksa APP/ReksaAPI/obj/project.assets.json
Reksa APP/ReksaAPI/obj/ReksaAPI.csproj.nuget.g.props
Reksa APP/ReksaAPI/obj/ReksaAPI.csproj.nuget.cache
Reksa APP/ReksaAPI/obj/Debug/netcoreapp2.2/ReksaAPI.pdb
Reksa APP/ReksaAPI/obj/Debug/netcoreapp2.2/ReksaAPI.dll
Reksa APP/ReksaAPI/obj/Debug/netcoreapp2.2/ReksaAPI.csprojAssemblyReference.cache
Reksa APP/ReksaAPI/obj/Debug/netcoreapp2.2/ReksaAPI.csproj.FileListAbsolute.txt
Reksa APP/ReksaAPI/obj/Debug/netcoreapp2.2/ReksaAPI.assets.cache
Reksa APP/ReksaAPI/bin/Debug/netcoreapp2.2/ReksaAPI.runtimeconfig.dev.json
Reksa APP/ReksaAPI/bin/Debug/netcoreapp2.2/ReksaAPI.pdb
Reksa APP/ReksaAPI/bin/Debug/netcoreapp2.2/ReksaAPI.dll
Reksa APP/ReksaAPI/bin/Debug/netcoreapp2.2/ReksaAPI.deps.json
Reksa APP/ReksaAPI/.vs/config/applicationhost.config
Reksa APP/ReksaAPI/.vs/ReksaAPI/v15/Server/sqlite3/storage.ide-wal
Reksa APP/ReksaAPI/.vs/ReksaAPI/v15/Server/sqlite3/storage.ide-shm
Reksa APP/ReksaAPI/.vs/ReksaAPI/v15/.suo
Reksa APP/Reksa/Reksa/obj/project.assets.json
Reksa APP/Reksa/Reksa/obj/Reksa.csproj.nuget.g.props
Reksa APP/Reksa/Reksa/obj/Reksa.csproj.nuget.cache
Reksa APP/Reksa/Reksa/obj/Debug/netcoreapp2.0/Reksa.pdb
Reksa APP/Reksa/Reksa/obj/Debug/netcoreapp2.0/Reksa.dll
Reksa APP/Reksa/Reksa/obj/Debug/netcoreapp2.0/Reksa.csprojAssemblyReference.cache
Reksa APP/Reksa/Reksa/obj/Debug/netcoreapp2.0/Reksa.csproj.FileListAbsolute.txt
Reksa APP/Reksa/Reksa/obj/Debug/netcoreapp2.0/Reksa.csproj.CoreCompileInputs.cache
Reksa APP/Reksa/Reksa/obj/Debug/netcoreapp2.0/Reksa.assets.cache
Reksa APP/Reksa/Reksa/bin/Debug/netcoreapp2.0/Reksa.runtimeconfig.dev.json
Reksa APP/Reksa/Reksa/bin/Debug/netcoreapp2.0/Reksa.pdb
Reksa APP/Reksa/Reksa/bin/Debug/netcoreapp2.0/Reksa.dll
Reksa APP/Reksa/.vs/Reksa/v15/Server/sqlite3/storage.ide-wal
Reksa APP/Reksa/.vs/Reksa/v15/Server/sqlite3/storage.ide-shm
Reksa APP/Reksa/.vs/Reksa/v15/Server/sqlite3/storage.ide
Reksa APP/Reksa/.vs/Reksa/v15/.suo
Reksa APP/ReksaAPI/obj/Debug/netcoreapp2.2/ReksaAPI.csproj.CoreCompileInputs.cache
