@using Kendo.Mvc.UI
@model Reksa.ViewModels.ReportListViewModel

@{
    ViewData["Title"] = "NFS Upload";
}


<!-- Begin Contents -->
<div class="panel panel-default" id="contentCustomer">
    <div class="panel-heading">
        <h4 class="m-t-0 header-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true">NFS Upload</a>
        </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse in" aria-expanded="true">
        <div class="panel-body">
            <div class="col-md-6">
                <!-- Begin DropDown File Action -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">File Action</label>
                    <div class="input-group">
                        @(Html.Kendo().DropDownList().Name("cmbFileAction").BindTo(new List<SelectListItem>() { new SelectListItem() {
                        Text = "UPLOAD", Value = "1" }, new SelectListItem() { Text = "DOWNLOAD",Value = "0"}}).DataTextField("Text").DataValueField("Value").Value("0")
                        .Events(e => { e.Change("onChangeFileAction").DataBound("onBoundFileAction");})
                        )
                    </div>
                </div>
                <!-- End DropDown File Action -->
                <!-- Begin DropDown File Type -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">File Type</label>
                    <div class="input-group">
                        @(Html.Kendo().DropDownList().Name("cmbFileType").HtmlAttributes(new { @id = "cmbFileType", @style = "width: 400px;" })
                        .Events(e => { e.Change("onChangeFileType").DataBound("onBoundFileType"); })
                        )
                    </div>
                </div>
                <!-- End DropDown File Type -->
                <!-- Begin Input File Name -->
                <div class="form-group">
                    <label id ="labelFileName" class="col-sm-3 control-label">File Name</label>
                    <div id="txtFilePath" style="">
                        <input id="filename" type="file" class="filestyle" data-iconname="fa fa-cloud-upload">
                    </div>
                    
                    <div id="dateTrx" style="">
                        @(Html.Kendo().DatePicker().Name("dtTranDate").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }))
                    </div>
                </div>
                <!-- End Input File Name -->
                <!-- Begin Button Generate -->
                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <button id=btnGenerate type="button" class="btn btn-default waves-effect waves-light">
                        <span class="btn-label">
                            <i class="fa fa-cog"></i>
                        </span>
                        Generate
                    </button>
                    <button id=btnView onclick="ExportToTable()" type="button" class="btn btn-default waves-effect waves-light">
                        <span class="btn-label">
                            <i class="fa fa-search"></i>
                        </span>
                        View
                    </button>
                </div>
                <!-- End Button Generate -->
            </div>
            <div class="col-md-12">
                <table id="exceltable"></table>
            </div>
        </div>
    </div>
</div>
<script>
    var Type;
    var Code;


    $("#btnGenerate").click(function ()
    {
        if ($("#btnGenerate").text() == "Generate") {
            var sFileCode = $("#cmbFileType").data('kendoDropDownList').value();
            var iTranDate = $("#dtTranDate").val();
            GenerateFileUpload(sFileCode, iTranDate);
        }
        else
        {
            SubSave();
        }
    });

    function GenerateFileUpload(sFileCode, iTranDate)
    {
        $.ajax({
            type: 'GET',
            url: '/Report/NFSGenerateFileUpload',
            data: { FileCode: sFileCode, TranDate: iTranDate },
            success: function (data) {
                if (data.blnResult == true) {
                    swal("Success", data.ErrMsg, "success");
                } else
                {
                    swal("Warning", data.ErrMsg, "warning");
                }
            }
        });
    }

    function SubSave()
    {

    }

    $("#filename").change(function () {
        var url;
        renderImage(this.files[0]);
        subOpenCsvFile(url);
    });

    function renderImage(file)
    {
        // generate a new FileReader object
        var reader = new FileReader();

        // inject an image with the src url
        reader.onload = function (event) {
            the_url = event.target.result
            console.log(the_url);
        }       
    }

    function subOpenCsvFile(url)
    {
        var oReq = new XMLHttpRequest();
        oReq.open("GET", url, true);
        oReq.responseType = "arraybuffer";

        oReq.onload = function (e) {
            var arraybuffer = oReq.response;

            /* convert data to binary string */
            var data = new Uint8Array(arraybuffer);
            var arr = new Array();
            for (var i = 0; i != data.length; ++i) arr[i] = String.fromCharCode(data[i]);
            var bstr = arr.join("");

            /* Call XLSX */
            var workbook = XLSX.read(bstr, {
                type: "binary"
            });

            /* DO SOMETHING WITH workbook HERE */
            var first_sheet_name = workbook.SheetNames[0];
            /* Get worksheet */
            var worksheet = workbook.Sheets[first_sheet_name];
            console.log(XLSX.utils.sheet_to_json(worksheet, {
                raw: true
            }));
        }

        oReq.send();
    }

    function onChangeFileType(e)
    {
        var dropdownlist = $("#cmbFileType").data("kendoDropDownList");
        Code = dropdownlist.value();
    }

    function onBoundFileType(e)
    {
        var dropdownlist = $("#cmbFileType").data("kendoDropDownList");
        var len = dropdownlist.dataSource.data().length;

        if (len > 0) {
            dropdownlist.select(0);
            onChangeFileType();
        }
        
    }

    function onChangeFileAction(e) {
        var dropdownlist = $("#cmbFileAction").data("kendoDropDownList");
        Type = dropdownlist.text();
        if (Type == "UPLOAD")
        {
            $("#btnGenerate").text("Generate"); 
            $("#labelFileName").text("Transaction Date");
            $('#txtFilePath').attr('style', 'display:none;');
            $('#dateTrx').attr('style', '');
        }
        else
        {
            $("#btnGenerate").text("Save Data");
            $("#labelFileName").text("File Name");
            $('#txtFilePath').attr('style', '');
            $('#dateTrx').attr('style', 'display:none;');
        }

        $.ajax({
            type: 'GET',
            url: '/Report/GetFileTypeList',
            data: { FileType: Type },
            success: function (data) {
                $("#cmbFileType").kendoDropDownList({
                    dataTextField: "FileDesc",
                    dataValueField: "FileCode",
                    dataSource: data,
                    change: onChangeFileType,
                    dataBound: onBoundFileType, 
                    height: 200
                });
            }
        });
    }    

    function onBoundFileAction(e) {
        var dropdownlist = $("#cmbFileAction").data("kendoDropDownList");
        var len = dropdownlist.dataSource.data().length;

        if (len > 0) {
            dropdownlist.select(0);
            onChangeFileAction();
        }
    }

    function toDate(dateStr) {
        const [day, month, year] = dateStr.split("/")
        return new Date(year, month - 1, day)
    }


</script>