@using Kendo.Mvc.UI
@model Reksa.ViewModels.ReportListViewModel

@{
    ViewData["Title"] = "NFS Upload";
}


<!-- Begin Contents -->
<div class="panel panel-default" id="contentCustomer">
    <div class="panel-heading">
        <h4 class="m-t-0 header-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true">NFS Upload</a>
        </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse in" aria-expanded="true">
        <div class="panel-body">
            <div class="col-md-6">
                <!-- Begin DropDown File Action -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">File Action</label>
                    <div class="input-group">
                        @(Html.Kendo().DropDownList().Name("cmbFileAction").BindTo(new List<SelectListItem>() { new SelectListItem() {
                                                        Text = "UPLOAD", Value = "1" }, new SelectListItem() { Text = "DOWNLOAD",Value = "0"}}).DataTextField("Text").DataValueField("Value").Value("0")
                                        .Events(e => { e.Change("onChangeFileAction").DataBound("onBoundFileAction"); })
                        )
                    </div>
                </div>
                <!-- End DropDown File Action -->
                <!-- Begin DropDown File Type -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">File Type</label>
                    <div class="input-group">
                        @(Html.Kendo().DropDownList().Name("cmbFileType").HtmlAttributes(new { @id = "cmbFileType", @style = "width: 400px;" })
                                        .Events(e => { e.Change("onChangeFileType").DataBound("onBoundFileType"); })
                        )
                    </div>
                </div>
                <!-- End DropDown File Type -->
                <!-- Begin Input File Name -->
                <div class="form-group">
                    <label id="labelFileName" class="col-sm-3 control-label">File Name</label>
                    <div id="txtFilePath" style="">
                        <input id="filename" type="file" accept=".csv, .txt, .xls" class="filestyle" data-iconname="fa fa-cloud-upload">
                    </div>

                    <div id="dateTrx" style="">
                        @(Html.Kendo().DatePicker().Name("dtTranDate").Format("dd/MM/yyyy").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 130px;" }))
                    </div>
                </div>
                <!-- End Input File Name -->
                <!-- Begin Button Generate -->
                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <button id=btnGenerate type="button" class="btn btn-default waves-effect waves-light">
                        <span class="btn-label">
                            <i class="fa fa-cog"></i>
                        </span>
                        Generate
                    </button>
                </div>
                <!-- End Button Generate -->
            </div>
            <div class="col-md-12">
                <table id="dgvData"></table>
            </div>
        </div>
    </div>
</div>
<script src="~/js/reksa.report.nfsupload.js"></script>
<script src="~/js/reksa.report.nfsupload.events.js"></script>