@{
    ViewBag.Title = "Alasan Delete";

    Layout = null;
}
<script type="text/javascript">

</script>
<div class="modal-content">
    
        <div class="panel-body">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Alasan Delete</label>
                    <div class="input-group">
                        <textarea id="_alasanDelete" rows="4" cols="50"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <label class="col-sm-3 control-label"></label>
                <button type="submit" id="button1" class="btn btn-default" data-dismiss="modal" style="margin-right:10px">
                    <span class="glyphicon glyphicon-ok"></span> Submit
                </button>
                <button type="submit" id="button2" class="btn btn-danger" data-dismiss="modal" style="margin-right:10px">
                    <span class="glyphicon glyphicon-remove"></span> Cancel
                </button>
            </div>
        </div>
</div>
