@{
    ViewBag.Title = "Search Client";
    string search = (string)ViewBag.Search;
    string criteria = (string)ViewBag.Criteria;
    int ProdId = (int)ViewBag.ProdId;

    Layout = null;
}
<script type="text/javascript">
    function onSearchClientSubs() {
        var value = $("#ClientSubsSearchComponentSearchTxt").val();
        var grid = $("#ClientSubsSearchComponentGrid").data("kendoGrid");

        var parsedUrl = updateQueryStringParameter(grid.dataSource.transport.options.read.url, "search", value);
        grid.dataSource.transport.options.read.url = parsedUrl;

        grid.dataSource.page(1);
        grid.dataSource.read();
        grid.refresh();
    }

    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        }
        else {
            return uri + separator + key + "=" + value;
        }
    }

    function onRowClientSubsSelect(e) {
        var data = this.dataItem(this.select());
        var dataId = $.trim(data.id);
        var dataValue = $.trim(data.ClientName);
        var dataClientId = $.trim(data.ClientId);

        $("#ClientSubsSelectedId").val(dataId);
        $("#ClientSubsSelectedText").val(dataValue);
        $("#ClientSubsSelectedClientId").val(dataClientId);
    };

    $("#ClientSubsSelectButton").on("click", function () {
        var selectedId = $("#ClientSubsSelectedId").val();
        var selectedText = $("#ClientSubsSelectedText").val();
        var selectedClientId = $("#ClientSubsSelectedClientId").val();

       
        $("input[id='srcClientSubs_text1']").val(selectedId).change();
        $("input[id='srcClientSubs_text2']").val(selectedText);
        $("input[name='ClientModel.ClientId']").val(selectedClientId);
        
    });

    $("#ClientSubsSearchComponentSearchTxt").on("keypress", function (e) {
        var key = e.which;
        if (key == 13)  // the enter key code
        {
            $("#ClientSubsSearchComponentSearchBtn").click();
            return false;
        }
    });
</script>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="modal-body">
        @(Html.Kendo().Grid<Reksa.Models.ClientModel>()
            .Name("ClientSubsSearchComponentGrid")
            .Columns(columns =>
            {
                columns.Bound(m => m.ClientCode).Width(150).Title("Client Code");
                columns.Bound(m => m.ClientName).Width(500).Title("Client Name");
            })
            @*.ToolBar(toolbar =>
            {
                toolbar.Template(@<text>
                <div class="toolbar">
                    @Html.Kendo().TextBox().Name("ClientSubsSearchComponentSearchTxt").Value(search)
                    @(Html.Kendo().Button()
                            .HtmlAttributes(new { type = "button" })
                            .Name("ClientSubsSearchComponentSearchBtn")
                            .Content("Search")
                            .Events(ev => ev.Click("onSearchClientSubs"))
                    )
                </div>
                </text>);
            })*@
            .Events(events => events.Change("onRowClientSubsSelect"))
            .Pageable()
            .Scrollable()
            .Selectable(selectable => selectable
                .Mode(GridSelectionMode.Single))
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(20)
                .Model(model =>
                {
                    model.Id(m => m.ClientCode);
                })
                .Read(read => read.Action("SearchClientData", "Global", new { search = search, criteria = criteria, ProdId= ProdId }))
            )
        )

        <input type="hidden" id="ClientSubsSelectedId" name="ClientSubsSelectedId" value="" />
        <input type="hidden" id="ClientSubsSelectedText" name="ClientSubsSelectedText" value="" />
        <input type="hidden" id="ClientSubsSelectedClientId" name="ClientSubsSelectedClientId" value="" />
    </div>
    <div class="modal-footer">
        <button type="submit" id="ClientSubsSelectButton" class="btn btn-primary pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-ok"></span> Select
        </button>
        <button type="submit" class="btn btn-warning pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
    </div>
</div>
