@{
    ViewBag.Title = "Search Bank";
    string search = (string)ViewBag.Search;
    string criteria = (string)ViewBag.Criteria;
    Layout = null;
}
<script type="text/javascript">
    function onSearchBank() {
        var value = $("#BankSearchComponentSearchTxt").val();
        var grid = $("#BankSearchComponentGrid").data("kendoGrid");
        var parsedUrl = updateQueryStringParameter(grid.dataSource.transport.options.read.url, "search", value);
        grid.dataSource.transport.options.read.url = parsedUrl;
        grid.dataSource.page(1);
        grid.dataSource.read();
        grid.refresh();
    }

    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        }
        else {
            return uri + separator + key + "=" + value;
        }
    }

    function onRowBankSelect(e) {
        var data = this.dataItem(this.select());
        var KodeBank = $.trim(data.KodeBank);
        var NamaBank = $.trim(data.NamaBank);
        var Branch = $.trim(data.Branch);
        var Alamat = $.trim(data.Alamat);

        $("#BankSelectedKodeBank").val(KodeBank);
        $("#BankSelectedNamaBank").val(NamaBank);
        $("#BankSelectedBranch").val(Branch);
        $("#BankSelectedAlamat").val(Alamat);
    };

    $("#BankSelectButton").on("click", function () {
        var selectedKodeBank = $("#BankSelectedKodeBank").val();
        var selectedNamaBank = $("#BankSelectedNamaBank").val();
        var selectedBranch = $("#BankSelectedBranch").val();
        var selectedAlamat = $("#BankSelectedAlamat").val();

        $("input[name='BankCodeModel.KodeBank']").val(selectedKodeBank).change();
        $("input[name='BankCodeModel.NamaBank']").val(selectedNamaBank);
        $("input[name='BankCodeModel.Branch']").val(selectedBranch);
        $("input[name='BankCodeModel.Alamat']").val(selectedAlamat);
    });

    $("#BankSearchComponentSearchTxt").on("keypress", function (e) {
        var key = e.which;
        if (key == 13)  // the enter key code
        {
            $("#BankSearchComponentSearchBtn").click();
            return false;
        }
    });
</script>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="modal-body">
        @(Html.Kendo().Grid<Reksa.Models.BankCodeModel>()
                    .Name("BankSearchComponentGrid")
                    .Columns(columns =>
                    {
                        columns.Bound(m => m.KodeBank).Width(100).Title("Kode Bank");
                        columns.Bound(m => m.NamaBank).Width(300).Title("Nama Bank");
                    })
                    .ToolBar(toolbar =>
                        {
                            toolbar.ClientTemplateId("GridToolbarTemplate");
                        })
                    .Events(events => events.Change("onRowBankSelect"))
                    .Pageable()
                    .Scrollable()
                    .Selectable(selectable => selectable
                        .Mode(GridSelectionMode.Single))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(20)
                        .Model(model =>
                        {
                            model.Id(m => m.KodeBank);
                        })
                        .Read(read => read.Action("SearchBankCodeData", "Global", new { search = search }))
                    )
        )
        <script id="GridToolbarTemplate">
        <div class="toolbar">
            @(Html.Kendo().TextBox().Name("BankSearchComponentSearchTxt").Value(search).ToClientTemplate())
            @(Html.Kendo().Button()
                            .HtmlAttributes(new { type = "button" })
                            .Name("BankSearchComponentSearchBtn")
                            .Content("Search")
                            .Events(ev => ev.Click("onSearchBank")).ToClientTemplate()
            )
        </div>
        </script>
        <input type="hidden" id="BankSelectedKodeBank" name="BankSelectedKodeBank" value="" />
        <input type="hidden" id="BankSelectedNamaBank" name="BankSelectedNamaBank" value="" />
        <input type="hidden" id="BankSelectedBranch" name="BankSelectedBranch" value="" />
        <input type="hidden" id="BankSelectedAlamat" name="BankSelectedAlamat" value="" />
    </div>
    <div class="modal-footer">
        <button type="submit" id="BankSelectButton" class="btn btn-primary pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-ok"></span> Select
        </button>
        <button type="submit" class="btn btn-warning pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
    </div>
</div>
