@{
    ViewBag.Title = "Search Product";
    string search = (string)ViewBag.Search;
    string criteria = (string)ViewBag.Criteria;
    string type = (string)ViewBag.Type;
    int seq = (int)ViewBag.Seq;

    Layout = null;
}
<script type="text/javascript">
    function onSearchProductSubs() {
        var value = $("#ProductSubsSearchComponentSearchTxt").val();
        var grid = $("#ProductSubsSearchComponentGrid").data("kendoGrid");

        var parsedUrl = updateQueryStringParameter(grid.dataSource.transport.options.read.url, "search", value);
        grid.dataSource.transport.options.read.url = parsedUrl;

        grid.dataSource.page(1);
        grid.dataSource.read();
        grid.refresh();
    }

    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        }
        else {
            return uri + separator + key + "=" + value;
        }
    }

    function onRowProductSubsSelect(e) {
        var data = this.dataItem(this.select());
        var ProdCode = $.trim(data.ProdCode);
        var ProdName = $.trim(data.ProdName);
        var ProdId = $.trim(data.ProdId);

        $("#ProductSubsSelectedCode").val(ProdCode);
        $("#ProductSubsSelectedName").val(ProdName);
        $("#ProductSubsSelectedId").val(ProdId);
    };

    $("#ProductSubsSelectButton").on("click", function () {
        var selectedCode = $("#ProductSubsSelectedCode").val();
        var selectedName = $("#ProductSubsSelectedName").val();
        var selectedId = $("#ProductSubsSelectedId").val();

        $("input[id='srcProductSubs_text1']").val(selectedCode).change();
        $("input[id='srcProductSubs_text2']").val(selectedName);
        $("input[name='ProdIdSubs']").val(selectedId);

    });

    $("#ProductSubsSearchComponentSearchTxt").on("keypress", function (e) {
        var key = e.which;
        if (key == 13)  // the enter key code
        {
            $("#ProductSubsSearchComponentSearchBtn").click();
            return false;
        }
    });
    
</script>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="modal-body">
        @(Html.Kendo().Grid<Reksa.Models.ProductModel>()
                    .Name("ProductSubsSearchComponentGrid")
                    .Columns(columns =>
                    {
                        columns.Bound(m => m.ProdCode).Width(100).Title("Product Code");
                        columns.Bound(m => m.ProdName).Width(300).Title("Product Name");
                        columns.Bound(m => m.ProdId).Hidden();
                    })
                    .ToolBar(toolbar =>
                    {
                        toolbar.ClientTemplateId("GridToolbarTemplate");
                    })
                    .Events(events => events.Change("onRowProductSubsSelect"))
                    .Pageable()
                    .Scrollable()
                    .Selectable(selectable => selectable
                        .Mode(GridSelectionMode.Single))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(20)
                        .Model(model =>
                        {
                            model.Id(m => m.ProdCode);
                        })
                        .Read(read => read.Action("SearchProductData", "Global", new { search = search, criteria = criteria }))
                    )
        )

        <script id="GridToolbarTemplate">
        <div class="toolbar">
            @(Html.Kendo().TextBox().Name("ProductSubsSearchComponentSearchTxt").Value(search).ToClientTemplate())
            @(Html.Kendo().Button()
                            .HtmlAttributes(new { type = "button" })
                            .Name("ProductSubsSearchComponentSearchBtn")
                            .Content("Search")
                            .Events(ev => ev.Click("onSearchProductSubs")).ToClientTemplate()
            )
        </div>
        </script>

        <input type="hidden" id="ProductSubsSelectedCode" name="ProductSubsSelectedCode" value="" />
        <input type="hidden" id="ProductSubsSelectedName" name="ProductSubsSelectedName" value="" />
        <input type="hidden" id="ProductSubsSelectedId" name="ProductSubsSelectedCId" value="" />
    </div>
    <div class="modal-footer">
        <button type="submit" id="ProductSubsSelectButton" class="btn btn-primary pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-ok"></span> Select
        </button>
        <button type="submit" class="btn btn-warning pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
    </div>
</div>
