@{
    ViewBag.Title = "Search CIF";
    string search = (string)ViewBag.Search;
    string criteria = (string)ViewBag.Criteria;

    Layout = null;
}
<script type="text/javascript">
    function onSearchCustomer() {
        var value = $("#CustomerSearchComponentSearchTxt").val();
        var grid = $("#CustomerSearchComponentGrid").data("kendoGrid");

        var parsedUrl = updateQueryStringParameter(grid.dataSource.transport.options.read.url, "search", value);
        grid.dataSource.transport.options.read.url = parsedUrl;

        grid.dataSource.page(1);
        grid.dataSource.read();
        grid.refresh();
    }

    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        }
        else {
            return uri + separator + key + "=" + value;
        }
    }

    function onRowCustomerSelect(e) {
        var data = this.dataItem(this.select());
        var CIFNo = $.trim(data.CIFNo);
        var CIFName = $.trim(data.CIFName);
        
        $("#CustomerSelectedCode").val(CIFNo);
        $("#CustomerSelectedName").val(CIFName);
    };

    $("#CustomerSelectButton").on("click", function () {
        var selectedCode = $("#CustomerSelectedCode").val();
        var selectedName = $("#CustomerSelectedName").val();

        $("input[id='srcCIFBooking_text1']").val(selectedCode).change();
        $("input[id='srcCIFBooking_text2']").val(selectedName);

    });

    $("#CustomerSearchComponentSearchTxt").on("keypress", function (e) {
        var key = e.which;
        if (key == 13)  // the enter key code
        {
            $("#CustomerSearchComponentSearchBtn").click();
            return false;
        }
    });
</script>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="modal-body">
        @(Html.Kendo().Grid<Reksa.Models.CustomerModel>()
                    .Name("CustomerSearchComponentGrid")
                    .Columns(columns =>
                    {
                        columns.Bound(m => m.CIFNo).Width(100).Title("CIF Number");
                        columns.Bound(m => m.CIFName).Width(150).Title("CIF Name");
                    })
                    .ToolBar(toolbar =>
                    {
                        toolbar.ClientTemplateId("GridToolbarTemplate");
                    })
                    .Events(events => events.Change("onRowCustomerSelect"))
                    .Pageable()
                    .Scrollable()
                    .Selectable(selectable => selectable
                        .Mode(GridSelectionMode.Single))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(10)
                        .Model(model =>
                        {
                            model.Id(m => m.CIFNo);
                        })
                        .Read(read => read.Action("SearchCIFData", "Global", new { search = search, criteria = criteria }))
                    )
        )

        <script id="GridToolbarTemplate">
        <div class="toolbar">
            @(Html.Kendo().TextBox().Name("CustomerSearchComponentSearchTxt").Value(search).ToClientTemplate())
            @(Html.Kendo().Button()
                            .HtmlAttributes(new { type = "button" })
                            .Name("CustomerSearchComponentSearchBtn")
                            .Content("Search")
                            .Events(ev => ev.Click("onSearchCustomer")).ToClientTemplate()
            )
        </div>
        </script>

        <input type="hidden" id="CustomerSelectedCode" name="CustomerSelectedCode" value="" />
        <input type="hidden" id="CustomerSelectedName" name="CustomerSelectedName" value="" />
    </div>
    <div class="modal-footer">
        <button type="submit" id="CustomerSelectButton" class="btn btn-primary pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-ok"></span> Select
        </button>
        <button type="submit" class="btn btn-warning pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
    </div>
</div>
