@{
    ViewBag.Title = "Search Referentor";
    string search = (string)ViewBag.Search;
    string criteria = (string)ViewBag.Criteria;

    Layout = null;
}
<script type="text/javascript">
    function onSearchReferentor() {
        var value = $("#ReferentorSearchComponentSearchTxt").val();
        var grid = $("#ReferentorSearchComponentGrid").data("kendoGrid");

        var parsedUrl = updateQueryStringParameter(grid.dataSource.transport.options.read.url, "search", value);
        grid.dataSource.transport.options.read.url = parsedUrl;

        grid.dataSource.page(1);
        grid.dataSource.read();
        grid.refresh();
    }

    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        }
        else {
            return uri + separator + key + "=" + value;
        }
    }

    function onRowReferentorSelect(e) {
        var data = this.dataItem(this.select());
        var dataId = $.trim(data.EMPLID);
        var dataName = $.trim(data.NAME);

        $("#ReferentorSelectedId").val(dataId);
        $("#ReferentorSelectedText").val(dataName);
    };

    $("#ReferentorSelectButton").on("click", function () {
        var selectedId = $("#ReferentorSelectedId").val();
        var selectedText = $("#ReferentorSelectedText").val();

        $("input[id='srcReferentorRDB_text1']").val(selectedId).change();
        $("input[id='srcReferentorRDB_text2']").val(selectedText);
    });

    $("#ReferentorSearchComponentSearchTxt").on("keypress", function (e) {
        var key = e.which;
        if (key == 13)  // the enter key code
        {
            $("#ReferentorSearchComponentSearchBtn").click();
            return false;
        }
    });
</script>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="modal-body">
        @(Html.Kendo().Grid<Reksa.Models.ReferentorModel>()
                    .Name("ReferentorSearchComponentGrid")
                    .Columns(columns =>
                    {
                        columns.Bound(m => m.EMPLID).Width(100).Title("Referentor Id");
                        columns.Bound(m => m.NAME).Width(100).Title("Referentor Name");
                    })
                    .ToolBar(toolbar =>
                    {
                        toolbar.ClientTemplateId("GridToolbarTemplate");
                    })
                    .Events(events => events.Change("onRowReferentorSelect"))
                    .Pageable()
                    .Scrollable()
                    .Selectable(selectable => selectable
                        .Mode(GridSelectionMode.Single))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(20)
                        .Model(model =>
                        {
                            model.Id(m => m.EMPLID);
                        })
                        .Read(read => read.Action("SearchReferentorData", "Global", new { search = search, criteria = criteria }))
                    )
        )
        <script id="GridToolbarTemplate">
        <div class="toolbar">
            @(Html.Kendo().TextBox().Name("ReferentorSearchComponentSearchTxt").Value(search).ToClientTemplate())
            @(Html.Kendo().Button()
                            .HtmlAttributes(new { type = "button" })
                            .Name("ReferentorSearchComponentSearchBtn")
                            .Content("Search")
                            .Events(ev => ev.Click("onSearchReferentor")).ToClientTemplate()
            )
        </div>
        </script>
        <input type="hidden" id="ReferentorSelectedId" name="ReferentorSelectedId" value="" />
        <input type="hidden" id="ReferentorSelectedText" name="ReferentorSelectedText" value="" />
    </div>
    <div class="modal-footer">
        <button type="submit" id="ReferentorSelectButton" class="btn btn-primary pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-ok"></span> Select
        </button>
        <button type="submit" class="btn btn-warning pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
    </div>
</div>
