@{
    ViewBag.Title = "Search Booking";
    string search = (string)ViewBag.Search;
    string criteria = (string)ViewBag.Criteria;

    Layout = null;
}
<script type="text/javascript">
    function onSearchBooking() {
        var value = $("#BookingSearchComponentSearchTxt").val();
        var grid = $("#BookingSearchComponentGrid").data("kendoGrid");

        var parsedUrl = updateQueryStringParameter(grid.dataSource.transport.options.read.url, "search", value);
        grid.dataSource.transport.options.read.url = parsedUrl;

        grid.dataSource.page(1);
        grid.dataSource.read();
        grid.refresh();
    }

    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        }
        else {
            return uri + separator + key + "=" + value;
        }
    }

    function onRowBookingSelect(e) {
        var data = this.dataItem(this.select());
        var RefID = $.trim(data.RefID);
        var TanggalTransaksi = $.trim(data.TanggalTransaksi);
        var BookingId = $.trim(data.BookingId);

        $("#BookingSelectedRefID").val(RefID);
        $("#BookingSelectedtanggalTransaksi").val(TanggalTransaksi);
        $("#BookingSelectedBookingId").val(BookingId);
    };

    $("#BookingSelectButton").on("click", function () {
        var selectedRefID = $("#BookingSelectedRefID").val();
        var selectedtanggalTransaksi = $("#BookingSelectedtanggalTransaksi").val();
        var selectedBookingId = $("#BookingSelectedBookingId").val();

        $("input[id='srcNoRefBooking_text1']").val(selectedRefID).change();
        $("input[id='srcNoRefBooking_text2']").val(selectedtanggalTransaksi);
        $("input[id='BookingId']").val(selectedBookingId);

    });

    $("#BookingSearchComponentSearchTxt").on("keypress", function (e) {
        var key = e.which;
        if (key == 13)  // the enter key code
        {
            $("#BookingSearchComponentSearchBtn").click();
            return false;
        }
    });
</script>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="modal-body">
        @(Html.Kendo().Grid<Reksa.Models.BookingModel>()
                                    .Name("BookingSearchComponentGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(m => m.RefID).Title("No Booking");
                                        columns.Bound(m => m.TanggalTransaksi).Format("{0:dd MMMM yyyy}").Title("Tanggal Transaksi");
                                        columns.Bound(m => m.BookingId).Hidden();
                                    })
                                    .ToolBar(toolbar =>
                                    {
                                        toolbar.ClientTemplateId("GridToolbarTemplate");
                                    })
                                    .Events(events => events.Change("onRowBookingSelect"))
                                    .Pageable()
                                    .Scrollable()
                                    .Selectable(selectable => selectable
                                        .Mode(GridSelectionMode.Single))
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(20)
                                        .Model(model =>
                                        {
                                            model.Id(m => m.RefID);
                                        })
                                        .Read(read => read.Action("SearchBookingData", "Global", new { search = search, criteria = criteria }))
                                    )
        )

        <script id="GridToolbarTemplate">
        <div class="toolbar">
            @(Html.Kendo().TextBox().Name("BookingSearchComponentSearchTxt").Value(search).ToClientTemplate())
            @(Html.Kendo().Button()
                            .HtmlAttributes(new { type = "button" })
                            .Name("BookingSearchComponentSearchBtn")
                            .Content("Search")
                            .Events(ev => ev.Click("onSearchBooking")).ToClientTemplate()
            )
        </div>
        </script>

        <input type="hidden" id="BookingSelectedRefID" name="BookingSelectedRefID" value="" />
        <input type="hidden" id="BookingSelectedtanggalTransaksi" name="BookingSelectedtanggalTransaksi" value="" />
        <input type="hidden" id="BookingSelectedBookingId" name="BookingSelectedBookingId" value="" />
    </div>
    <div class="modal-footer">
        <button type="submit" id="BookingSelectButton" class="btn btn-primary pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-ok"></span> Select
        </button>
        <button type="submit" class="btn btn-warning pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
    </div>
</div>
