@{
    ViewBag.Title = "Search Product";
    string search = (string)ViewBag.Search;
    string criteria = (string)ViewBag.Criteria;

    Layout = null;
}
<script type="text/javascript">
    function onSearchProductSwitchOut() {
        var value = $("#ProductSwitchOutSearchComponentSearchTxt").val();
        var grid = $("#ProductSwitchOutSearchComponentGrid").data("kendoGrid");

        var parsedUrl = updateQueryStringParameter(grid.dataSource.transport.options.read.url, "search", value);
        grid.dataSource.transport.options.read.url = parsedUrl;        
        grid.dataSource.read();
        grid.dataSource.page(1);
        grid.select("tr:eq(0)");
        grid.refresh();
    }

    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        }
        else {
            return uri + separator + key + "=" + value;
        }
    }

    function onRowProductSwitchOutSelect(e) {
        var data = this.dataItem(this.select());
        var ProdCode = $.trim(data.ProdCode);
        var ProdName = $.trim(data.ProdName);
        var ProdId = $.trim(data.ProdId);

        $("#ProductSwitchOutSelectedCode").val(ProdCode);
        $("#ProductSwitchOutSelectedName").val(ProdName);
        $("#ProductSwitchOutSelectedId").val(ProdId);
    };

    $("#ProductSwitchOutSelectButton").on("click", function () {
        var selectedCode = $("#ProductSwitchOutSelectedCode").val();
        var selectedName = $("#ProductSwitchOutSelectedName").val();
        var selectedId = $("#ProductSwitchOutSelectedId").val();

        $("input[name='ProductModel.ProdCode']").val(selectedCode).change();
        $("input[name='ProductModel.ProdName']").val(selectedName);
        $("input[name='ProductModel.ProdId']").val(selectedId);

    });

    $("#ProductSwitchOutSearchComponentSearchTxt").on("keypress", function (e) {
        var key = e.which;
        if (key == 13)  // the enter key code
        {
            $("#ProductSwitchOutSearchComponentSearchBtn").click();
            return false;
        }
    });
</script>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="modal-body">
        @(Html.Kendo().Grid<Reksa.Models.ProductModel>()
                    .Name("ProductSwitchOutSearchComponentGrid")
                    .Columns(columns =>
                    {
                        columns.Bound(m => m.ProdCode).Width(100).Title("Product Code");
                        columns.Bound(m => m.ProdName).Width(300).Title("Product Name");
                    })
                    .ToolBar(toolbar =>
                    {
                        toolbar.ClientTemplateId("GridToolbarTemplate");
                    })
                    .Events(events => events.Change("onRowProductSwitchOutSelect"))
                    .Pageable()
                    .Scrollable()
                    .Selectable(selectable => selectable
                        .Mode(GridSelectionMode.Single))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(20)
                        .Model(model =>
                        {
                            model.Id(m => m.ProdCode);
                        })
                        .Read(read => read.Action("SearchProductSwitchOutData", "Global", new { search = search, criteria = criteria }))
                    )
        )

        <script id="GridToolbarTemplate">
        <div class="toolbar">
            @(Html.Kendo().TextBox().Name("ProductSwitchOutSearchComponentSearchTxt").Value(search).ToClientTemplate())
            @(Html.Kendo().Button()
                            .HtmlAttributes(new { type = "button" })
                            .Name("ProductSwitchOutSearchComponentSearchBtn")
                            .Content("Search")
                            .Events(ev => ev.Click("onSearchProductSwitchOut")).ToClientTemplate()
            )
        </div>
        </script>

        <input type="hidden" id="ProductSwitchOutSelectedCode" name="ProductSwitchOutSelectedCode" value="" />
        <input type="hidden" id="ProductSwitchOutSelectedName" name="ProductSwitchOutSelectedName" value="" />
        <input type="hidden" id="ProductSwitchOutSelectedId" name="ProductSwitchOutSelectedCId" value="" />
    </div>
    <div class="modal-footer">
        <button type="submit" id="ProductSwitchOutSelectButton" class="btn btn-primary pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-ok"></span> Select
        </button>
        <button type="submit" class="btn btn-warning pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
    </div>
</div>
