@{
    ViewBag.Title = "Search Referensi";
    string search = (string)ViewBag.Search;
    string criteria = (string)ViewBag.Criteria;

    Layout = null;
}
<script type="text/javascript">
    function onSearchReferensiRedemp() {
        var value = $("#ReferensiRedempSearchComponentSearchTxt").val();
        var grid = $("#ReferensiRedempSearchComponentGrid").data("kendoGrid");

        var parsedUrl = updateQueryStringParameter(grid.dataSource.transport.options.read.url, "search", value);
        grid.dataSource.transport.options.read.url = parsedUrl;

        grid.dataSource.page(1);
        grid.dataSource.read();
        grid.refresh();
    }

    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        }
        else {
            return uri + separator + key + "=" + value;
        }
    }

    function onRowReferensiRedempSelect(e) {
        var data = this.dataItem(this.select());
        var RefID = $.trim(data.RefID);
        var tanggalTransaksi = $.trim(data.TanggalTransaksi);

        $("#ReferensiRedempSelectedRefID").val(RefID);
        $("#ReferensiRedempSelectedtanggalTransaksi").val(tanggalTransaksi);
    };

    $("#ReferensiRedempSelectButton").on("click", function () {
        var selectedRefID = $("#ReferensiRedempSelectedRefID").val();
        var selectedtanggalTransaksi = $("#ReferensiRedempSelectedtanggalTransaksi").val();
        var tgltransaksi = new Date(selectedtanggalTransaksi);
        $("input[id='srcNoRefRedemp_text1']").val(selectedRefID).change();
        $("input[id='srcNoRefRedemp_text2']").val(tgltransaksi.getDate() + '/' + (tgltransaksi.getMonth() + 1) + '/' + tgltransaksi.getFullYear());

    });

    $("#ReferensiRedempSearchComponentSearchTxt").on("keypress", function (e) {
        var key = e.which;
        if (key == 13)  // the enter key code
        {
            $("#ReferensiRedempSearchComponentSearchBtn").click();
            return false;
        }
    });
</script>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="modal-body">
        @(Html.Kendo().Grid<Reksa.Models.ReferensiModel>()
                    .Name("ReferensiRedempSearchComponentGrid")
                    .Columns(columns =>
                    {
                        columns.Bound(m => m.RefID).Title("No Referensi");
                        columns.Bound(m => m.TanggalTransaksi).Format("{0:dd/MM/yyyy}").Title("Tanggal Transaksi");
                    })
                    .ToolBar(toolbar =>
                    {
                        toolbar.ClientTemplateId("GridToolbarTemplate");
                    })
                    .Events(events => events.Change("onRowReferensiRedempSelect"))
                    .Pageable()
                    .Scrollable()
                    .Selectable(selectable => selectable
                        .Mode(GridSelectionMode.Single))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(20)
                        .Model(model =>
                        {
                            model.Id(m => m.RefID);
                        })
                        .Read(read => read.Action("SearchReferensiData", "Global", new { search = search, criteria = criteria }))
                    )
        )

        <script id="GridToolbarTemplate">
        <div class="toolbar">
            @(Html.Kendo().TextBox().Name("ReferensiRedempSearchComponentSearchTxt").Value(search).ToClientTemplate())
            @(Html.Kendo().Button()
                            .HtmlAttributes(new { type = "button" })
                            .Name("ReferensiRedempSearchComponentSearchBtn")
                            .Content("Search")
                            .Events(ev => ev.Click("onSearchReferensiRedemp")).ToClientTemplate()
            )
        </div>
        </script>

        <input type="hidden" id="ReferensiRedempSelectedRefID" name="ReferensiRedempSelectedRefID" value="" />
        <input type="hidden" id="ReferensiRedempSelectedtanggalTransaksi" name="ReferensiRedempSelectedtanggalTransaksi" value="" />
    </div>
    <div class="modal-footer">
        <button type="submit" id="ReferensiRedempSelectButton" class="btn btn-primary pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-ok"></span> Select
        </button>
        <button type="submit" class="btn btn-warning pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
    </div>
</div>
