@{
    ViewBag.Title = "Search Waperd";
    string search = (string)ViewBag.Search;
    string criteria = (string)ViewBag.Criteria;

    Layout = null;
}
<script type="text/javascript">
    function onSearchWaperd() {
        var value = $("#WaperdSearchComponentSearchTxt").val();
        var grid = $("#WaperdSearchComponentGrid").data("kendoGrid");

        var parsedUrl = updateQueryStringParameter(grid.dataSource.transport.options.read.url, "search", value);
        grid.dataSource.transport.options.read.url = parsedUrl;

        grid.dataSource.page(1);
        grid.dataSource.read();
        grid.refresh();
    }

    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        }
        else {
            return uri + separator + key + "=" + value;
        }
    }

    function onRowWaperdSelect(e) {
        var data = this.dataItem(this.select());
        var EmployeeId = $.trim(data.employee_id);
        var WaperdNo = $.trim(data.WaperdNo);
        var DateExpire = $.trim(data.DateExpire);

        $("#WaperdSelectedEmployeeId").val(EmployeeId);
        $("#WaperdSelectedWaperdNo").val(WaperdNo);
        $("#WaperdSelectedDateExpire").val(DateExpire);
    };

    $("#WaperdSelectButton").on("click", function () {
        var selectedEmployeeId = $("#WaperdSelectedEmployeeId").val();
        var selectedWaperdNo = $("#WaperdSelectedWaperdNo").val();
        var selectedDateExpire = $("#WaperdSelectedDateExpire").val();

        $("input[id='srcWaperdSubs_text1']").val(selectedEmployeeId).change();
        $("input[id='srcWaperdSubs_text2']").val(selectedWaperdNo)
        var dtExpire = new Date(selectedDateExpire);
        $("input[id='textExpireWaperdSubs']").val(dtExpire.getDate() + '/' + (dtExpire.getMonth() + 1) + '/' + dtExpire.getFullYear());
    });

    $("#WaperdSearchComponentSearchTxt").on("keypress", function (e) {
        var key = e.which;
        if (key == 13)  // the enter key code
        {
            $("#WaperdSearchComponentSearchBtn").click();
            return false;
        }
    });
</script>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="modal-body">
        @(Html.Kendo().Grid<Reksa.Models.WaperdModel>()
                                    .Name("WaperdSearchComponentGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(m => m.employee_id).Width(100).Title("Employee Id");
                                        columns.Bound(m => m.WaperdNo).Width(100).Title("Waperd Number");
                                        columns.Bound(m => m.DateExpire).Format("{0:dd MMMM yyyy}").Title("Tanggal Expired");
                                    })
                                    .ToolBar(toolbar =>
                                    {
                                        toolbar.ClientTemplateId("GridToolbarTemplate");
                                    })
                                    .Events(events => events.Change("onRowWaperdSelect"))
                                    .Pageable()
                                    .Scrollable()
                                    .Selectable(selectable => selectable
                                        .Mode(GridSelectionMode.Single))
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(20)
                                        .Model(model =>
                                        {
                                            model.Id(m => m.WaperdNo);
                                        })
                                        .Read(read => read.Action("SearchWaperdData", "Global", new { search = search, criteria = criteria }))
                                    )
        )

        <script id="GridToolbarTemplate">
        <div class="toolbar">
            @(Html.Kendo().TextBox().Name("WaperdSearchComponentSearchTxt").Value(search).ToClientTemplate())
            @(Html.Kendo().Button()
                            .HtmlAttributes(new { type = "button" })
                            .Name("WaperdSearchComponentSearchBtn")
                            .Content("Search")
                            .Events(ev => ev.Click("onSearchWaperd")).ToClientTemplate()
            )
        </div>
        </script>

        <input type="hidden" id="WaperdSelectedEmployeeId" name="WaperdSelectedEmployeeId" value="" />
        <input type="hidden" id="WaperdSelectedWaperdNo" name="WaperdSelectedWaperdNo" value="" />
        <input type="hidden" id="WaperdSelectedDateExpire" name="WaperdSelectedDateExpire" value="" />
    </div>
    <div class="modal-footer">
        <button type="submit" id="WaperdSelectButton" class="btn btn-primary pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-ok"></span> Select
        </button>
        <button type="submit" class="btn btn-warning pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
    </div>
</div>
