
@using Kendo.Mvc.UI
@model Reksa.ViewModels.TransaksiListViewModel

@{
    ViewData["Title"] = "Outgoing TT";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Outgoing TT</a>
        </h4>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <div class="card-box">
                <div class="row">
                    <!-- Begin Button -->
                    <div>
                        <div class="input-group">
                            <button id="btnDocumentSubs" href="@Url.Action("AlasanDelete", "Global" ) " data-toggle="modal" data-target="#AlasanModal" class="btn btn-default waves-effect waves-light" style="margin-right:10px">
                                <span class="btn-label">
                                    <i class="fa fa-search"></i>
                                </span>
                                Cek Dokumen
                            </button>
                            <button id=btnRefresh class="btn btn-default waves-effect waves-light" style="margin-right:10px">
                                <span class="btn-label">
                                    <i class="fa fa-refresh"></i>
                                </span>
                                Refresh
                            </button>
                            <button id=btnProcess class="btn btn-info waves-effect waves-light" style="margin-right:10px">
                                <span class="btn-label">
                                    <i class="fa fa-cogs"></i>
                                </span>
                                Process
                            </button>
                            <button id="btnReject" class="btn btn-danger waves-effect waves-light" style="margin-right:10px">
                                <span class="btn-label">
                                    <i class="fa fa-times"></i>
                                </span>
                                Reject
                            </button>
                        </div>
                    </div>
                    <!-- End Button -->
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-md-12">
                        <div id="dataGridView1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="AlasanModal" tabindex="-1" role="dialog" aria-labelledby="AlasanModalLabel">
    <div class="modal-dialog" style="width:65%;">
        <div class="modal-content">

        </div>
    </div>
</div>
<script src="~/js/reksa.transaksi.outgoingtt.js"></script>
<script src="~/js/reksa.transaksi.outgoingtt.events.js"></script>