
@using Kendo.Mvc.UI
@model Reksa.ViewModels.TransaksiListViewModel

@{
    ViewData["Title"] = "Outgoing TT";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Outgoing TT</a>
        </h4>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <div class="card-box">
                <div class="row">
                    <!-- Begin Button -->
                    <div>
                        <div class="input-group">
                            <button id="btnDocumentSubs" href="@Url.Action("AlasanDelete", "Global" ) " data-toggle="modal" data-target="#AlasanModal" class="btn btn-default waves-effect waves-light">
                                <span class="btn-label">
                                    <i class="fa fa-search"></i>
                                </span>
                                Cek Dokumen
                            </button>
                            <button id=btnRefresh class="btn btn-default waves-effect waves-light" style="margin-right:10px">
                                <span class="btn-label">
                                    <i class="fa fa-refresh"></i>
                                </span>
                                Refresh
                            </button>
                            <button id=btnProcess class="btn btn-info waves-effect waves-light" style="margin-right:10px">
                                <span class="btn-label">
                                    <i class="fa fa-cogs"></i>
                                </span>
                                Process
                            </button>
                            <button id="btnReject" class="btn btn-danger waves-effect waves-light" style="margin-right:10px">
                                <span class="btn-label">
                                    <i class="fa fa-times"></i>
                                </span>
                                Reject
                            </button>
                        </div>
                    </div>
                    <!-- End Button -->
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-md-12">
                        <div id="dataGridView1"></div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="AlasanModal" tabindex="-1" role="dialog" aria-labelledby="AlasanModalLabel">
    <div class="modal-dialog" style="width:65%;">
        <div class="modal-content">

        </div>
    </div>
</div>
<script>
     $(document).ready(function () {
         var grid = {
             height: 200
         };
         $("#dataGridView1").kendoGrid(grid);
         subPopulate();

         $("#btnRefresh").click(function () {
             subPopulate();
         });
         $("#btnProcess").click(function () {
             subProcess(true);
         });
         $("#btnReject").click(function () {
             subProcess(false);
         });
    });

    function subPopulate()
    {
        $.ajax({
            type: 'GET',
            url: '/Transaksi/PopulateOutgoingTT',
            success: function (data) {
                if (data.blnResult) {
                    var gridView = $("#dataGridView1").data("kendoGrid");
                    var gridData = populateGrid(data.listOutgoingTT);

                    gridView.setOptions(gridData);
                    gridView.dataSource.page(1);
                    gridView.select("tr:eq(0)");

                    $("#dataGridView1 th[data-field=BillId]").html("Bill Id")
                    $("#dataGridView1 th[data-field=ProdName]").html("Product Name")
                    $("#dataGridView1 th[data-field=NamaPemohon]").html("Nama Pemohon")
                    $("#dataGridView1 th[data-field=AlamatPemohon1]").html("Alamat Pemohon 1")
                    $("#dataGridView1 th[data-field=AlamatPemohon2]").html("Alamat Pemohon 2")
                    $("#dataGridView1 th[data-field=RemittanceNo]").html("Remittance No")
                    $("#dataGridView1 th[data-field=TglPembelianReksadana]").html("Tgl Pembelian Reksadana")
                    $("#dataGridView1 th[data-field=BillId]").html("Bill Id")
                    $("#dataGridView1 th[data-field=BillId]").html("Bill Id")
                    $("#dataGridView1 th[data-field=BillId]").html("Bill Id")
                    $("#dataGridView1 th[data-field=BillId]").html("Bill Id")
                }
                else {
                    swal("Warning", data.ErrMsg, "warning");
                }
            }
        });
    }

    function populateGrid(response) {
        if (response.length > 0) {
            var columns = generateColumns(response);
            return gridOptions = {
                dataSource: {
                    transport: {
                        read: function (options) {
                            options.success(response);
                        }
                    },
                    pageSize: 6,
                    page: 1
                },
                //change: onRowKinerjaSelect,
                columns: columns,
                pageable: true,
                selectable: true,
                height: 300
            };
        } else {
            $("#dataGridView1").empty();
        }
    }

    function generateColumns(response) {
        var columnNames = Object.keys(response[0]);
        return columnNames.map(function (name) {
            var CheckB = name.indexOf("CheckB") > -1 || name.indexOf("CheckB") > -1;
            var NamaPemohon = name.indexOf("NamaPemohon") > -1 || name.indexOf("NamaPemohon") > -1;
            var ProdName = name.indexOf("ProdName") > -1 || name.indexOf("ProdName") > -1;
            var AlamatPemohon1 = name.indexOf("AlamatPemohon1") > -1 || name.indexOf("AlamatPemohon1") > -1;
            var AlamatPemohon2 = name.indexOf("AlamatPemohon2") > -1 || name.indexOf("AlamatPemohon2") > -1;
            var PaymentRemarks = name.indexOf("PaymentRemarks") > -1 || name.indexOf("PaymentRemarks") > -1;
            var AlamatPenerima = name.indexOf("AlamatPenerima") > -1 || name.indexOf("AlamatPenerima") > -1;
            var TglPembelianReksadana = name.indexOf("TglPembelianReksadana") > -1 || name.indexOf("TglPembelianReksadana") > -1;
            var TanggalValuta = name.indexOf("TanggalValuta") > -1 || name.indexOf("TanggalValuta") > -1;
            var RemittanceNo = name.indexOf("RemittanceNo") > -1 || name.indexOf("RemittanceNo") > -1;
            var NominalTransfer = name.indexOf("NominalTransfer") > -1 || name.indexOf("NominalTransfer") > -1;
            var NamaPenerima = name.indexOf("NamaPenerima") > -1 || name.indexOf("NamaPenerima") > -1;
            
            value = 'BillId';
            return {
                headerTemplate: CheckB ? "<input type='checkbox'  id='chkSelectAll' onclick='checkAll(this)' />" : name,
                template: CheckB ? "<input type='checkbox' onclick='onCheckBoxClick(this)' value= '#= " + value + " #'" +
                    "# if (CheckB) { #" +
                    "checked='checked'" +
                    "# } #" +
                    "/>"
                    : TglPembelianReksadana ? "#= kendo.toString(kendo.parseDate(TglPembelianReksadana, 'yyyy-MM-dd'), 'dd/MM/yyyy') #"
                        : TanggalValuta ? "#= kendo.toString(kendo.parseDate(TanggalValuta, 'yyyy-MM-dd'), 'dd/MM/yyyy') #"
                            : columnNames, 
                field: name,
                width:
                    CheckB ? 50 :
                        NamaPemohon ? 200 :
                            ProdName ? 300 :
                                AlamatPemohon1 ? 300 :
                                    AlamatPemohon2 ? 300 :
                                        PaymentRemarks ? 380 :
                                            AlamatPenerima ? 300 :
                                                RemittanceNo ? 150 :
                                                    NominalTransfer ? 200 :
                                                        NamaPenerima ? 200 :
                                                            TglPembelianReksadana ? 200 :
                                                                TanggalValuta ? 150 
                                                            : 100,
                title: CheckB ? "CheckBox" : name
            };
        })
    }

    function checkAll(e) {
        var state = $(e).is(':checked');
        var grid = $('#dataGridView1').data('kendoGrid');
        $.each(grid.dataSource.view(), function () {
            if (this['CheckB'] != state)
                this.dirty = true;

            this['CheckB'] = state;
        });
        grid.refresh();
    }

    function onCheckBoxClick(e) {
        var state = $(e).is(':checked');
        var value = e.value;
        var grid = $('#dataGridView1').data('kendoGrid');
        grid.refresh();
        grid.tbody.find("tr[role='row']").each(function () {
            var dataItem = grid.dataItem(this);
            if (dataItem.BillId == value) {
                dataItem.CheckB = state;
            }           
        })
        var chkAll = $('#chkSelectAll').is(':checked');
        var isCheckedAll = true;
        var countTrue = 0;
        var countFalse = 0;
        var countAll = 0;
        $.each(grid.dataSource.view(), function () {
            if (this['CheckB'] == true) {
                countTrue = countTrue + 1;
            }
            else {
                countFalse = countFalse + 1;
                isCheckedAll = false;
            }
            countAll = countAll + 1;
        });
        if (countFalse == 0 || (countFalse == 1 && !state)) {
            $('#chkSelectAll').prop("checked", state);
        }
        grid.refresh();
    }

    function subProcess(isProcess)
    {
        if (isProcess == false)
        {
            //Get alasan
        }

    }
</script>
