@using Kendo.Mvc.UI
@model Reksa.ViewModels.TransaksiListViewModel

@{
    ViewData["Title"] = "Transaksi";
}

<div class="card-box">
    <!-- Begin Button -->
    <div>
        <div class="input-group">
            <button id=btnRefresh class="btn btn-default waves-effect waves-light" style="margin-right:10px">
                <span class="btn-label">
                    <i class="fa fa-refresh"></i>
                </span>
                Refresh
            </button>
            <button id="btnNew" class="btn btn-primary waves-effect waves-light" style="margin-right:10px">
                <span class="btn-label">
                    <i class="fa fa-plus"></i>
                </span>
                New
            </button>

            <button id="btnEdit" class="btn btn-info waves-effect waves-light" style="margin-right:10px">
                <span class="btn-label">
                    <i class="fa fa-edit"></i>
                </span>
                Edit
            </button>
            <button id="btnSave" style="display:none;margin-right:10px;" class="btn btn-warning waves-effect waves-light">
                <span class="btn-label">
                    <i class="fa fa-save"></i>
                </span>
                Save
            </button>
            <button id="btnCancel" style="display:none;margin-right:10px;" class="btn btn-danger waves-effect waves-light">
                <span class="btn-label">
                    <i class="fa fa-remove"></i>
                </span>
                Cancel
            </button>
        </div>
    </div>
    <!-- End Button -->
</div>
<!-- Begin Tab -->
<div id="tabs" class="col-md-12" style="margin-top:20px">
    <ul class="nav nav-tabs" style="background-color:#efefef;border-style:double;">
        <li class="active"><a data-toggle="tab" href="#tab-subscription" id="SUBS"><i class="fa fa-shopping-cart"></i> Subscription</a></li>
        <li><a data-toggle="tab" href="#collapse-redemption" id="REDEMP"><i class="fa fa-tags"></i> Redemption</a></li>
        <li><a data-toggle="tab" href="#collapse-reksaberjangka" id="SUBSRDB"><i class="fa fa-hourglass-1"></i>  Reksadana Berjangka</a></li>
        <li><a data-toggle="tab" href="#collapse-switchingnonrdb" id="SWCNONRDB"><i class="fa fa-exchange"></i>  Switching</a></li>
        <li><a data-toggle="tab" href="#collapse-switchingrdb" id="SWCRDB"><i class="fa fa-recycle"></i>  Switching ReksaDana Berjangka</a></li>
        <li><a data-toggle="tab" href="#collapse-booking" id="BOOK"><i class="fa fa-thumb-tack"></i> Booking</a></li>
    </ul>

    <div class="tab-content" style="border-style:double">
        <div id="tab-subscription" class="tab-pane fade in active">
            <div class="row">
                <div class="col-md-12">
                    @{
                        Html.RenderPartial("_Subscription.cshtml", Model);
                    }
                </div>
            </div>
        </div>
        <div id="collapse-redemption" class="tab-pane fade">
            <div class="row">
                <div class="col-md-12">
                    @{
                        Html.RenderPartial("_Redemption.cshtml");
                    }
                </div>
            </div>
        </div>
        <div id="collapse-reksaberjangka" class="tab-pane fade">
            <div class="row">
                <div class="col-md-12">
                    @{
                        Html.RenderPartial("_ReksaBerjangka.cshtml", Model);
                    }
                </div>
            </div>
        </div>
        <div id="collapse-switchingnonrdb" class="tab-pane fade">
            <div class="row">
                <div class="col-md-12">
                    @{
                        Html.RenderPartial("_SwitchingNonRDB.cshtml");
                    }
                </div>
            </div>
        </div>
        <div id="collapse-switchingrdb" class="tab-pane fade">
            <div class="row">
                <div class="col-md-12">
                    @{
                        Html.RenderPartial("_SwitchingRDB.cshtml");
                    }
                </div>
            </div>
        </div>
        <div id="collapse-booking" class="tab-pane fade">
            <div class="row">
                <div class="col-md-12">
                    @{
                        Html.RenderPartial("_Booking.cshtml");
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Tab -->
<div class="modal fade" id="CustomerModal" tabindex="-1" role="dialog" aria-labelledby="CustomerModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="NoRefModal" tabindex="-1" role="dialog" aria-labelledby="NoRefModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ProductModal" tabindex="-1" role="dialog" aria-labelledby="ProductModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ClientModal" tabindex="-1" role="dialog" aria-labelledby="ClientModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="CurrencyModal" tabindex="-1" role="dialog" aria-labelledby="CurrencyModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="SellerModal" tabindex="-1" role="dialog" aria-labelledby="SellerModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="WaperdModal" tabindex="-1" role="dialog" aria-labelledby="WaperdModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="NIKRefModal" tabindex="-1" role="dialog" aria-labelledby="NIKRefModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<script src="~/js/reksa.transaksi.transaksi.js"></script>
<script src="~/js/reksa.transaksi.transaksi.events.js"></script>
<script>
    var strBranch = '@Html.Raw(ViewBag.strBranch)';
    var _intNIK = '@Html.Raw(ViewBag.intNIK)';
    var strMenuName = '@Html.Raw(ViewBag.strMenuName)';
</script>

