@using Kendo.Mvc.UI
@model Reksa.ViewModels.TransaksiListViewModel

@{
    ViewData["Title"] = "Transaksi";
}

<!-- Begin Contents -->
<div class="panel panel-default" id="contentTransaksi">
    <div class="panel-heading">
        <h4 class="m-t-0 header-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true">Transaksi</a>
        </h4>
    </div>
        <div class="panel-body">
            <!-- Begin Button -->
            <div class="col-md-12" style="padding-top:4%">
                <div class="input-group">
                    <button id=ButtonRefresh class="btn btn-default waves-effect waves-light">
                        <span class="btn-label">
                            <i class="fa fa-refresh"></i>
                        </span>
                        Refresh
                    </button>
                    <button id="buttonadd" class="btn btn-default waves-effect waves-light">
                        <span class="btn-label">
                            <i class="fa fa-plus"></i>
                        </span>
                        New
                    </button>

                    <button id="buttonedit" class="btn btn-info waves-effect waves-light">
                        <span class="btn-label">
                            <i class="fa fa-edit"></i>
                        </span>
                        Edit
                    </button>

                    <button id="buttondelete" class="btn btn-danger waves-effect waves-light">
                        <span class="btn-label">
                            <i class="fa fa-trash"></i>
                        </span>
                        Delete
                    </button>

                    <button id="buttonsave" style="display:none;" class="btn btn-warning waves-effect waves-light">
                        <span class="btn-label">
                            <i class="fa fa-save"></i>
                        </span>
                        Save
                    </button>
                    <button id="buttonCancel" style="display:none;" class="btn btn-pink waves-effect waves-light">
                        <span class="btn-label">
                            <i class="fa fa-remove"></i>
                        </span>
                        Cancel
                    </button>
                </div>
            </div>
            <!-- End Button -->
            <!-- Begin Accordion -->
            <div class="col-md-12">
                <div class="panel-group" id="accordion-transaksi">
                    <div class="panel panel-default">
                        <!-- Begin Accordion Subscription -->
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-transaksi" href="#collapse-subscription" aria-expanded="false" class="collapsed">
                                    Subscription
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-subscription" class="panel-collapse collapse">
                            <div class="panel-body">
                                @{
                                    Html.RenderPartial("_Subscription.cshtml", Model);
                                }
                            </div>
                        </div>
                        <!-- End Accordion Subscription -->
                        <!-- Begin Accordion Redemption -->
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-transaksi" href="#collapse-redemption" aria-expanded="false" class="collapsed">
                                    Redemption
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-redemption" class="panel-collapse collapse">
                            <div class="panel-body">
                                @{
                                    Html.RenderPartial("_Redemption.cshtml");
                                }
                            </div>
                        </div>
                        <!-- End Accordion Redemption -->
                        <!-- Begin Accordion Reksa Berjangka -->
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-transaksi" href="#collapse-reksaberjangka" aria-expanded="false" class="collapsed">
                                    Reksadana Berjangka
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-reksaberjangka" class="panel-collapse collapse">
                            <div class="panel-body">
                                @{
                                    Html.RenderPartial("_ReksaBerjangka.cshtml", Model);
                                }
                            </div>
                        </div>
                        <!-- End Accordion Reksa Berjangka -->
                        <!-- Begin Accordion Switching Non Rdb -->
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-transaksi" href="#collapse-switchingnonrdb" aria-expanded="false" class="collapsed">
                                    Switching Non RDB
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-switchingnonrdb" class="panel-collapse collapse">
                            <div class="panel-body">
                                @{
                                    Html.RenderPartial("_SwitchingNonRDB.cshtml");
                                }
                            </div>
                        </div>
                        <!-- End Accordion Switching Non Rdb -->
                        <!-- Begin Accordion Switching RDB -->
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-transaksi" href="#collapse-switchingrdb" aria-expanded="false" class="collapsed">
                                    Switching RDB
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-switchingrdb" class="panel-collapse collapse">
                            <div class="panel-body">
                                @{
                                    Html.RenderPartial("_SwitchingRDB.cshtml");
                                }
                            </div>
                        </div>
                        <!-- End Accordion Switching RDB -->
                        <!-- Begin Accordion Booking -->
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-transaksi" href="#collapse-booking" aria-expanded="false" class="collapsed">
                                    Booking
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-booking" class="panel-collapse collapse">
                            <div class="panel-body">
                                @{
                                    Html.RenderPartial("_Booking.cshtml");
                                }
                            </div>
                        </div>
                        <!-- Begin Accordion Booking -->
                    </div>
                </div>
            </div>
            <!-- End Accordion -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#buttonadd").click(function () {
            //$("#SID").prop('disabled', false);
            $("#ButtonRefresh").hide();
            $("#buttonadd").hide();
            $("#buttonedit").hide();
            $("#buttondelete").hide();
            $("#buttonsave").show();
            $("#buttonCancel").show();
            clearAll();
        });
        $("#buttonedit").click(function () {
            $("#ButtonRefresh").hide();
            $("#buttonadd").hide();
            $("#buttonedit").hide();
            $("#buttondelete").hide();
            $("#buttonsave").show();
            $("#buttonCancel").show();
        });
        $("#buttondelete").click(function () {
        });
        $("#buttonsave").click(function () {
        });
        $("#buttonCancel").click(function () {
            $("#ButtonRefresh").show();
            $("#buttonadd").show();
            $("#buttonedit").show();
            $("#buttondelete").show();
            $("#buttonsave").hide();
            $("#buttonCancel").hide();
        });
    });

    var idAccordions;
    $(function () {
        $('.collapse').on('shown.bs.collapse', function (e) {
            var currAccordion = e.currentTarget.id;
            if (currAccordion == "collapse-subscription") {
                idAccordions = "SUBS";
                clearSubscription();
            } else if (currAccordion == "collapse-redemption") {
                idAccordions = "REDEMP";
                clearRedemption();
            } else if (currAccordion == "collapse-reksaberjangka") {
                idAccordions = "SUBSRDB";
            } else if (currAccordion == "collapse-switchingnonrdb") {
                idAccordions = "SWCNONRDB";
            } else if (currAccordion == "collapse-switchingrdb") {
                idAccordions = "SWCRDB";
            } else if (currAccordion == "collapse-booking") {
                idAccordions = "BOOK";
            }
        })
    })

    $("#ButtonRefresh").click(function () {
        var CIFNo;
        var RefID;
        if (idAccordions == "SUBS")
        {
            CIFNo = $("#CIFNoSubs").val();
            RefID = $("#RefIDSubs").val();
            $.ajax({
                type: 'GET',
                url: '/Transaksi/RefreshTransaction',
                data: { RefID: RefID, CIFNo: CIFNo, idAccordions: idAccordions },
                success: function (data) {
                        RefreshSubscription(data);                    
                }
            });
        }
        else if (idAccordions == "REDEMP")
        {
            CIFNo = $("#CIFNoRedemp").val();
            RefID = $("#RefIDRedemp").val();
            $.ajax({
                type: 'GET',
                url: '/Transaksi/RefreshTransaction',
                data: { RefID: RefID, CIFNo: CIFNo, idAccordions: idAccordions },
                success: function (data) {
                    RefreshRedemption(data);                    
                }
            });
        }
        else if (idAccordions == "SUBSRDB") {
            CIFNo = $("#CIFNoRDB").val();
            RefID = $("#RefIDRDB").val(); 
            $.ajax({
                type: 'GET',
                url: '/Transaksi/RefreshTransaction',
                data: { RefID: RefID, CIFNo: CIFNo, idAccordions: idAccordions },
                success: function (data) {
                    RefreshRDB(data);                   
                }
            });
        }
        else if (idAccordions == "SWCNONRDB") {
            CIFNo = $("#CIFNoSwc").val();
            RefID = $("#RefIDSwc").val();
            $.ajax({
                type: 'GET',
                url: '/Transaksi/RefreshSwitching',
                data: { RefID: RefID, CIFNo: CIFNo },
                success: function (data) {
                    RefreshSwc(data);                    
                }
            });
        }
        else if (idAccordions == "SWCRDB") {
            CIFNo = $("#CIFNoSwcRDB").val();
            RefID = $("#SwitchingRDBRefID").val();
            $.ajax({
                type: 'GET',
                url: '/Transaksi/RefreshSwitchingRDB',
                data: { RefID: RefID, CIFNo: CIFNo },
                success: function (data) {
                    RefreshSwcRDB(data);
                }
            });
        }
        else if (idAccordions == "BOOK") {
            CIFNo = $("#CIFNoBook").val();
            RefID = $("#RefIDBook").val();
            $.ajax({
                type: 'GET',
                url: '/Transaksi/RefreshBooking',
                data: { RefID: RefID, CIFNo: CIFNo },
                success: function (data) {
                    RefreshBooking(data);
                }
            });
        }
        
    });

    function RefreshSubscription(data)
    {
        $("#CIFSIDSubs").val(data.CustomerIdentitas.CIFSID);
        $("#UmurSubs").val(data.TransactionSubsDetail.Umur);
        $("#ShareHolderIdSubs").val(data.CustomerIdentitas.ShareholderID);
        $("#JenisRiskProfileSubs").val(data.RiskProfileModel.RiskProfile);
        var dateLast = new Date(data.RiskProfileModel.LastUpdate);
        $("#LastUpdatedRiskSubs").val(dateLast.getDate() + '/' + (dateLast.getMonth() + 1) + '/' + dateLast.getFullYear());
        $("#AccRekeningIDRSubs").val(data.CustomerIdentitas.AccountId);
        $("#NameRekeningIDRSubs").val(data.CustomerIdentitas.AccountName);
        $("#AccRekeningUSDSubs").val(data.CustomerIdentitas.AccountIdUSD);
        $("#NameRekeningUSDSubs").val(data.CustomerIdentitas.AccountNameUSD);
        $("#AccRekeningMCSubs").val(data.CustomerIdentitas.AccountIdMC);
        $("#NameRekeningMCSubs").val(data.CustomerIdentitas.AccountNameMC);
        $("#InputterSubs").val(data.TransactionSubsDetail.Inputter);
        $("#SellerIdSubs").val(data.TransactionSubsDetail.Seller);
        $("#WaperdNoSubs").val(data.TransactionSubsDetail.Waperd);
        $("#TglExpireSubs").val(data.TransactionSubsDetail.Inputter);
        $("#NIKRefIDSubs").val(data.TransactionSubsDetail.Referentor);        

        ValidateReferentor($("#NIKRefIDSubs").val(), function (output) {
            $("#NIKRefNameSubs").val(output);
        });

        ValidateReferentor($("#SellerIdSubs").val(), function (output) {
            $("#SellerNameSubs").val(output);
        });

        var dataSource = new kendo.data.DataSource(
        {
            data: data.ListSubscription
        });
        var Subsgrid = $('#GridViewSubs').data('kendoGrid');
        Subsgrid.setDataSource(dataSource);
        Subsgrid.dataSource.page(1);
        
    }

    function RefreshRedemption(data) {
        $("#CIFSIDRedemp").val(data.CustomerIdentitas.CIFSID);
        $("#UmurRedemp").val(data.TransactionSubsDetail.Umur);
        $("#ShareHolderIdRedemp").val(data.CustomerIdentitas.ShareholderID);
        $("#JenisRiskProfileRedemp").val(data.RiskProfileModel.RiskProfile);
        var dateLast = new Date(data.RiskProfileModel.LastUpdate);
        $("#LastUpdatedRiskRedemp").val(dateLast.getDate() + '/' + (dateLast.getMonth() + 1) + '/' + dateLast.getFullYear());
        $("#AccRekeningIDRRedemp").val(data.CustomerIdentitas.AccountId);
        $("#NameRekeningIDRRedemp").val(data.CustomerIdentitas.AccountName);
        $("#AccRekeningUSDRedemp").val(data.CustomerIdentitas.AccountIdUSD);
        $("#NameRekeningUSDRedemp").val(data.CustomerIdentitas.AccountNameUSD);
        $("#AccRekeningMCRedemp").val(data.CustomerIdentitas.AccountIdMC);
        $("#NameRekeningMCRedemp").val(data.CustomerIdentitas.AccountNameMC);        

        var dataSource = new kendo.data.DataSource(
            {
                data: data.ListRedemption
            });
        var Redempgrid = $('#GridViewRedemp').data('kendoGrid');
        Redempgrid.setDataSource(dataSource);
        Redempgrid.dataSource.page(1);

        $("#InputterRedemp").val(data.TransactionSubsDetail.Inputter);
        $("#SellerIdRedemp").val(data.TransactionSubsDetail.Seller);
        $("#WaperdNoRedemp").val(data.TransactionSubsDetail.Waperd);
        $("#ReferrantorIdRedemp").val(data.TransactionSubsDetail.Referentor);

        ValidateReferentor($("#SellerIdRedemp").val(), function (output) {
            $("#SellerNameRedemp").val(output);
        });

        ValidateReferentor($("#ReferrantorIdRedemp").val(), function (output) {
            $("#ReferrantorNameRedemp").val(output);
        });        
    }

    function RefreshRDB(data) {
        $("#CIFSIDRDB").val(data.CustomerIdentitas.CIFSID);
        $("#UmurRDB").val(data.TransactionSubsDetail.Umur);
        $("#ShareHolderIdRDB").val(data.CustomerIdentitas.ShareholderID);
        $("#JenisRiskProfileRDB").val(data.RiskProfileModel.RiskProfile);
        var dateLast = new Date(data.RiskProfileModel.LastUpdate);
        $("#LastUpdatedRiskRDB").val(dateLast.getDate() + '/' + (dateLast.getMonth() + 1) + '/' + dateLast.getFullYear());
        $("#AccRekeningIDRRDB").val(data.CustomerIdentitas.AccountId);
        $("#NameRekeningIDRRDB").val(data.CustomerIdentitas.AccountName);
        $("#AccRekeningUSDRDB").val(data.CustomerIdentitas.AccountIdUSD);
        $("#NameRekeningUSDRDB").val(data.CustomerIdentitas.AccountNameUSD);
        $("#AccRekeningMCRDB").val(data.CustomerIdentitas.AccountIdMC);
        $("#NameRekeningMCRDB").val(data.CustomerIdentitas.AccountNameMC);

        var dataSource = new kendo.data.DataSource(
            {
                data: data.ListSubsRDB
            });
        var RDBgrid = $('#GridViewRDB').data('kendoGrid');
        RDBgrid.setDataSource(dataSource);
        RDBgrid.dataSource.page(1);

        $("#InputterRDB").val(data.TransactionSubsDetail.Inputter);
        $("#SellerIdRDB").val(data.TransactionSubsDetail.Seller);
        $("#WaperdNoRDB").val(data.TransactionSubsDetail.Waperd);
        $("#ReferrantorIdRDB").val(data.TransactionSubsDetail.Referentor);

        ValidateReferentor($("#SellerIdRDB").val(), function (output) {
            $("#SellerNameRDB").val(output);
        });

        ValidateReferentor($("#ReferrantorIdRDB").val(), function (output) {
            $("#ReferrantorNameRDB").val(output);
        });  

    }

    function RefreshSwc(data)
    {
        $("#CIFSIDSwc").val(data.CustomerIdentitas.CIFSID);
        $("#UmurSwc").val(data.CustomerIdentitas.Umur);
        $("#ShareHolderIdSwc").val(data.CustomerIdentitas.ShareholderID);
        $("#JenisRiskProfileSwc").val(data.RiskProfileModel.RiskProfile);
        var dateLast = new Date(data.RiskProfileModel.LastUpdate);
        $("#LastUpdatedRiskSwc").val(dateLast.getDate() + '/' + (dateLast.getMonth() + 1) + '/' + dateLast.getFullYear());
        $("#AccRekeningIDRSwc").val(data.CustomerIdentitas.AccountId);
        $("#NameRekeningIDRSwc").val(data.CustomerIdentitas.AccountName);
        $("#AccRekeningUSDSwc").val(data.CustomerIdentitas.AccountIdUSD);
        $("#NameRekeningUSDSwc").val(data.CustomerIdentitas.AccountNameUSD);
        $("#AccRekeningMCSwc").val(data.CustomerIdentitas.AccountIdMC);
        $("#NameRekeningMCSwc").val(data.CustomerIdentitas.AccountNameMC);
        $("#NoTransaksiSwc").val(data.TransactionSwitching.TranCode);
        var TglTransaksiSwc = new Date(data.TransactionSwitching.TranDate);
        $("#TglTransaksiSwc").val(TglTransaksiSwc.getDate() + '/' + (TglTransaksiSwc.getMonth() + 1) + '/' + TglTransaksiSwc.getFullYear());
                
        $("#ProdCodeSwcOut").val(data.TransactionSwitching.ProdCodeSwcOut);
        ValidateProduk($("#ProdCodeSwcOut").val(), function (output) {
            $("#ProdNameSwcOut").val(output[0].ProdName);
            $("#ClientCodeSwcOut").val(data.TransactionSwitching.ClientCodeSwcOut);
            ValidateClient($("#ClientCodeSwcOut").val(), output[0].ProdId, function (result) {
                alert(result);
                $("#ClientNameSwcOut").val(result);
            });
        });
        $("#ProdCodeSwcIn").val(data.TransactionSwitching.ProdCodeSwcIn);
        $("#ClientCodeSwcIn").val(data.TransactionSwitching.ClientCodeSwcIn);
        $('#PhoneOrderSwc').prop('checked', data.PhoneOrder);
        $('#FeeeditSwc').prop('checked', data.IsFeeEdit);
        $("#JumlahUnitSwc").val(data.TransactionSwitching.TranUnit);
        $("#FeeSwc").val(data.TransactionSwitching.SwitchingFee);
        $("#PercentageFeeSwc").val(data.TransactionSwitching.Percentage);
        $("#currFeeSwc").text(data.TransactionSwitching.TranCCY);        

        $("#InputterSwc").val(data.TransactionSwitching.Inputter);
        $("#SellerIdSwc").val(data.TransactionSwitching.Seller);
        $("#WaperdNoSwc").val(data.TransactionSwitching.Waperd);
        $("#ReferrantorIDSwc").val(data.TransactionSwitching.Referentor);

        ValidateReferentor($("#SellerIdSwc").val(), function (output) {
            $("#SellerNameSwc").val(output);
        });

        ValidateReferentor($("#ReferrantorIDSwc").val(), function (output) {
            $("#ReferrantorNameSwc").val(output);
        });     
    }

    function RefreshSwcRDB(data) {
        $("#CIFSIDSwcRDB").val(data.CustomerIdentitas.CIFSID);
        $("#UmurSwcRDB").val(data.CustomerIdentitas.Umur);
        $("#ShareHolderIdSwcRDB").val(data.CustomerIdentitas.ShareholderID);
        $("#JenisRiskProfileSwcRDB").val(data.RiskProfileModel.RiskProfile);
        var dateLast = new Date(data.RiskProfileModel.LastUpdate);
        $("#LastUpdatedRiskSwcRDB").val(dateLast.getDate() + '/' + (dateLast.getMonth() + 1) + '/' + dateLast.getFullYear());
        $("#AccRekeningIDRSwcRDB").val(data.CustomerIdentitas.AccountId);
        $("#NameRekeningIDRSwcRDB").val(data.CustomerIdentitas.AccountName);
        $("#AccRekeningUSDSwcRDB").val(data.CustomerIdentitas.AccountIdUSD);
        $("#NameRekeningUSDSwcRDB").val(data.CustomerIdentitas.AccountNameUSD);
        $("#AccRekeningMCSwcRDB").val(data.CustomerIdentitas.AccountIdMC);
        $("#NameRekeningMCSwcRDB").val(data.CustomerIdentitas.AccountNameMC);

        $("#NoTransaksiSwcRDB").val(data.TransactionSwitchingRDB.TranCode);
        var TglTransaksiSwcRDB = new Date(data.TransactionSwitchingRDB.TranDate);
        $("#TglTransaksiSwcRDB").val(TglTransaksiSwcRDB.getDate() + '/' + (TglTransaksiSwcRDB.getMonth() + 1) + '/' + TglTransaksiSwcRDB.getFullYear());


        $("#ProdCodeSwcRDBOut").val(data.TransactionSwitchingRDB.ProdCodeSwcOut);
        ValidateProduk($("#ProdCodeSwcRDBOut").val(), function (output) {
            $("#ProdNameSwcRDBOut").val(output[0].ProdName);
            $("#ClientCodeSwcRDBOut").val(data.TransactionSwitchingRDB.ClientCodeSwcOut);
            ValidateClient($("#ClientCodeSwcRDBOut").val(), output[0].ProdId, function (result) {                
                $("#ClientNameSwcRDBOut").val(result);
            });
        });
        $("#ProdCodeSwcRDBIn").val(data.TransactionSwitchingRDB.ProdCodeSwcIn);
        ValidateProduk($("#ProdCodeSwcRDBIn").val(), function (output) {
            $("#ProdNameSwcRDBIn").val(output[0].ProdName);
            $("#ClientCodeSwcRDBIn").val(data.TransactionSwitchingRDB.ClientCodeSwcIn);
            ValidateClient($("#ClientCodeSwcRDBIn").val(), output[0].ProdId, function (result) {
                $("#ClientNameSwcRDBIn").val(result);
            });
        });

        $('#PhoneOrderSwcRDB').prop('checked', data.PhoneOrder);
        $('#FeeeditSwcRDB').prop('checked', data.IsFeeEdit);
        $("#JumlahUnitSwcRDB").val(data.TransactionSwitchingRDB.TranUnit);
        $("#FeeSwcRDB").val(data.TransactionSwitchingRDB.SwitchingFee);
        $("#PercentageFeeSwcRDB").val(data.TransactionSwitchingRDB.Percentage);
        $("#currFeeSwcRDB").text(data.TransactionSwitchingRDB.TranCCY);
        $("#JangkaWaktuSwcRDB").val(data.TransactionSwitchingRDB.JangkaWaktu);
        var JatuhTempoSwcRDB = new Date(data.TransactionSwitchingRDB.JatuhTempo);
        $("#JatuhTempoSwcRDB").val(JatuhTempoSwcRDB.getDate() + '/' + (JatuhTempoSwcRDB.getMonth() + 1) + '/' + JatuhTempoSwcRDB.getFullYear());

        $("#AutoRedempSwcRDB").data('kendoDropDownList').value(data.TransactionSwitchingRDB.AutoRedemption);
        $("#AsuransiSwcRDB").data('kendoDropDownList').value(data.TransactionSwitchingRDB.Asuransi);
                      

        $("#InputterSwcRDB").val(data.TransactionSwitchingRDB.Inputter);
        $("#SellerIdSwcRDB").val(data.TransactionSwitchingRDB.Seller);
        $("#WaperdNoSwcRDB").val(data.TransactionSwitchingRDB.Waperd);
        $("#ReferrantorIDSwcRDB").val(data.TransactionSwitchingRDB.Referentor);

        ValidateReferentor($("#SellerIdSwcRDB").val(), function (output) {
            $("#SellerNameSwcRDB").val(output);
        });

        ValidateReferentor($("#ReferrantorIDSwc").val(), function (output) {
            $("#ReferrantorNameSwcRDB").val(output);
        }); 
    }

    function RefreshBooking(data) {
        $("#CIFSIDBook").val(data.CustomerIdentitas.CIFSID);
        $("#UmurBook").val(data.CustomerIdentitas.Umur);
        $("#ShareHolderIdBook").val(data.CustomerIdentitas.ShareholderID);
        $("#JenisRiskProfileBook").val(data.RiskProfileModel.RiskProfile);
        var dateLast = new Date(data.RiskProfileModel.LastUpdate);
        $("#LastUpdatedRiskBook").val(dateLast.getDate() + '/' + (dateLast.getMonth() + 1) + '/' + dateLast.getFullYear());
        $("#AccRekeningIDRBook").val(data.CustomerIdentitas.AccountId);
        $("#NameRekeningIDRBook").val(data.CustomerIdentitas.AccountName);
        $("#AccRekeningUSDBook").val(data.CustomerIdentitas.AccountIdUSD);
        $("#NameRekeningUSDBook").val(data.CustomerIdentitas.AccountNameUSD);
        $("#AccRekeningMCBook").val(data.CustomerIdentitas.AccountIdMC);
        $("#NameRekeningMCBook").val(data.CustomerIdentitas.AccountNameMC);

        $("#KodeBooking").val(data.TransactionBooking.BookingCode);
        var TglTransaksiBook = new Date(data.TransactionBooking.BookingDate);
        $("#TglTransaksiBook").val(TglTransaksiBook.getDate() + '/' + (TglTransaksiBook.getMonth() + 1) + '/' + TglTransaksiBook.getFullYear());
        $("#ProdCodeBook").val(data.TransactionBooking.ProdCode);        
        ValidateProduk($("#ProdCodeBook").val(), function (output) {
            $("#ProdNameBook").val(output[0].ProdName);
        });
        $("#ClientCodeBook").val(data.TransactionBooking.ClientCode);
        $("#CurrCodeBook").val(data.TransactionBooking.BookingCCY);
        ValidateCurrency($("#CurrCodeBook").val(), function (output) {
            $("#CurrNameBook").val(output);
        });
        $("#NominalBook").val(data.TransactionBooking.BookingAmt);
        $("#FeeBook").val(data.TransactionBooking.SubcFee);
        $("#currFeeBook").text(data.TransactionBooking.BookingCCY);
        $("#PercentageFeeBook").val(data.TransactionBooking.PercentageFee);
        $("#InputterBook").val(data.TransactionBooking.Inputter);
        $("#SellerIdBook").val(data.TransactionBooking.Seller);
        $("#WaperdNoBook").val(data.TransactionBooking.Waperd);
        $("#ReferentorIdBook").val(data.TransactionBooking.Referentor);
        ValidateReferentor($("#SellerIdBook").val(), function (output) {
            $("#SellerNameBook").val(output);
        }); 
        ValidateReferentor($("#ReferentorIdBook").val(), function (output) {
            $("#ReferentorNameBook").val(output);
        }); 
    }


    function clearRedemption()
    {
        $("#CIFNoRedemp").val("");
        $("#CIFNameRedemp").val("");
        $("#RefIDRedemp").val("");
        $("#RefNameRedemp").val("");
        
    }

    function clearSubscription() {
        $("#CIFNoSubs").val("");
        $("#CIFNameSubs").val("");
        $("#RefIDSubs").val("");
        $("#RefNameSubs").val("");
    }

    function ValidateReferentor(ReferentorID, result) {
        $.ajax({
            type: 'GET',
            url: '/Global/ValidateReferentor',
            data: { Col1: ReferentorID, Col2: '', Validate: 1 },
            success: function (data) {
                result(data[0].NAME);
            }
        });
    }

    function ValidateWaperd(WaperdID, result) {
        var WaperdID = $("#WaperdNoSubs").val();
        $.ajax({
            type: 'GET',
            url: '/Global/ValidateWaperd',
            data: { Col1: WaperdID, Col2: '', Validate: 1 },
            success: function (data) {
                result(data[0].DateExpire);
            }
        });
    }

    function ValidateProduk(ProductCode, result) {
        $.ajax({
            type: 'GET',
            url: '/Global/ValidateProduct',
            data: { Col1: ProductCode, Col2: '', Validate: 1 },
            success: function (data) {
                result(data);
            }
        });
    }

    function ValidateClient(ClientCode, ProdId, result) {
        $.ajax({
            type: 'GET',
            url: '/Global/ValidateClient',
            data: { Col1: ClientCode, Col2: '', Validate: 1, ProdId: ProdId },
            success: function (data) {
                result(data[0].ClientName);
            }
        });
    } 

    function ValidateCurrency(CurrCode, result) {
        $.ajax({
            type: 'GET',
            url: '/Global/ValidateCurrency',
            data: { Col1: CurrCode, Col2: '', Validate: 1 },
            success: function (data) {
                result(data[0].CurrencyName);
            }
        });
    }

</script>

