@{
    ViewData["Title"] = "Tunggakan";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Tunggakan</a>
        </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse" aria-expanded="true">
        <div class="panel-body">
        Tunggakan
        </div>
    </div>
</div>
