@model Reksa.ViewModels.OtorisasiListViewModel

@{
    ViewData["Title"] = "Otorisasi";
}

<!-- Begin Radio Button -->
<div class="col-md-12">
    <div class="card-box">
        <div class="row" style="padding-bottom:10px">
            <label class="col-sm-2 control-label">Authorization</label>
            <div class="radio radio-danger radio-inline">
                <input type="radio" id="radioNewAccount" value="ACC" name="radioInline" checked>
                <label for="radioNewAccount">  New Account </label>
            </div>
            <div class="radio radio-danger radio-inline">
                <input type="radio" id="radioTransaction" value="TRX" name="radioInline">
                <label for="radioTransaction"> Transaction </label>
            </div>
            <div class="radio radio-danger radio-inline">
                <input type="radio" id="radioBlocking" value="TRX" name="radioInline">
                <label for="radioBlocking"> Blocking </label>
            </div>
            <div class="radio radio-danger radio-inline">
                <input type="radio" id="radioReverse" value="TRX" name="radioInline">
                <label for="radioReverse"> Reverse </label>
            </div>
        </div>
        <div class="row" style="padding-bottom:10px">
            <label class="col-sm-2 control-label">Jenis Transaksi</label>
            <div class="radio radio-danger radio-inline">
                <input type="radio" id="radioAllTrx" value="ACC" name="radioInline1" checked>
                <label for="radioAllTrx">  All </label>
            </div>
            <div class="radio radio-danger radio-inline">
                <input type="radio" id="radioSubs" value="TRX" name="radioInline1">
                <label for="radioSubs"> Subscription </label>
            </div>
            <div class="radio radio-danger radio-inline">
                <input type="radio" id="radioRedemption" value="TRX" name="radioInline1">
                <label for="radioRedemption"> Redemption </label>
            </div>
            <div class="radio radio-danger radio-inline">
                <input type="radio" id="radioRDB" value="TRX" name="radioInline1">
                <label for="radioRDB"> RDB </label>
            </div>
            <div class="radio radio-danger radio-inline">
                <input type="radio" id="radioSwitching" value="TRX" name="radioInline1">
                <label for="radioSwitching"> Switching </label>
            </div>
            <div class="radio radio-danger radio-inline">
                <input type="radio" id="radioSwcRDB" value="TRX" name="radioInline1">
                <label for="radioSwcRDB"> Switching RDB </label>
            </div>
            <div class="radio radio-danger radio-inline">
                <input type="radio" id="radioBooking" value="TRX" name="radioInline1">
                <label for="radioBooking"> Booking </label>
            </div>
        </div>
        <div class="row" style="padding-bottom:10px">
            <label class="col-sm-2 control-label">Action</label>
            <div class="radio radio-danger radio-inline">
                <input type="radio" id="radioNew" value="ACC" name="radioInline2" checked>
                <label for="radioNew">  New </label>
            </div>
            <div class="radio radio-danger radio-inline">
                <input type="radio" id="radioEdit" value="TRX" name="radioInline2">
                <label for="radioEdit"> Edit </label>
            </div>
        </div>
    </div>
</div>
<!-- End Radio Button -->
<!-- Begin Button -->
<div class="col-md-12">
    <div class="card-box">
        <div class="row">
            <div class="input-group">
                <button id=btnRefresh class="btn btn-default waves-effect waves-light" style="margin-right:10px">
                    <span class="btn-label">
                        <i class="fa fa-refresh"></i>
                    </span>
                    Refresh
                </button>
                <button id=btnProcess class="btn btn-info waves-effect waves-light" style="margin-right:10px">
                    <span class="btn-label">
                        <i class="fa fa-cogs"></i>
                    </span>
                    Process
                </button>
                <button id="btnReject" class="btn btn-danger waves-effect waves-light" style="margin-right:10px">
                    <span class="btn-label">
                        <i class="fa fa-times"></i>
                    </span>
                    Reject
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End Button -->
<!-- Begin DataGridView1 -->
<div class="col-md-12">
    <div class="portlet">
        <div id="groupBox1" class="portlet-heading bg-custom">Data Master</div>
        <div class="portlet-body">
            <div class="row" style="padding-bottom:10px">
                <div class="col-md-12">
                    <div id="dataGridView1"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End DataGridView1 -->
<!-- Begin DataGridView2 -->
<div class="col-md-12">
    <div class="card-box">
        <h3 id="groupBox2"></h3>
        <div class="row" style="padding-bottom:10px">
            <div id="dataGridView2"></div>
        </div>
    </div>
</div>
<!-- Begin DataGridView2 -->
<!-- Begin DataGridView3 -->
<div class="col-md-12">
    <div class="card-box">
        <h3 id="groupBox3"></h3>
        <div class="row" style="padding-bottom:10px">
            <div id="dataGridView3"></div>
        </div>
    </div>
</div>
<!-- Begin DataGridView2 -->
<script src="~/js/reksa.otorisasi.authgeneralnew.js"></script>
<script src="~/js/reksa.otorisasi.authgeneralnew.events.js"></script>

