@model Reksa.ViewModels.OtorisasiListViewModel
@using Reksa.Models
@using Kendo.Mvc.UI.Fluent

@{
    ViewData["Title"] = "Otorisasi Parameter Global";
}

<div class="col-md-3">
    <div class="panel panel-default" style="padding-bottom:80%">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Authorization</a>
            </h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    @(Html.Kendo().TreeView().Name("TreeViewOtorParamGlobal")
                                            .BindTo((IEnumerable<TreeViewModel>)ViewBag.Tree, (NavigationBindingFactory<TreeViewItem> mappings) =>
                                            {
                                                mappings.For<TreeViewModel>(binding => binding.ItemDataBound((item, node) =>
                                                   {
                                                       item.Id = node.InterfaceTypeId.ToString(); item.Text = node.Caption; item.Expanded = node.Expanded;
                                                   }).Children(node => node.Children));
                                            }).Events(events => events.Select("onSelect")
                                            )
                    )
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Begin Button -->
<div class="col-md-9">
    <div class="card-box">
        <div class="row">
            <button class="btn btn-default waves-effect waves-light" id=btnRefresh style="margin-right:10px">
                <span class="btn-label">
                    <i class="fa fa-refresh"></i>
                </span>
                Refresh
            </button>
            <button id=btnApprove class="btn btn-info waves-effect waves-light" style="margin-right:10px">
                <span class="btn-label">
                    <i class="fa fa-cogs"></i>
                </span>
                Process
            </button>
            <button id="btnReject" class="btn btn-danger waves-effect waves-light" style="margin-right:10px">
                <span class="btn-label">
                    <i class="fa fa-times"></i>
                </span>
                Reject
            </button>
        </div>
    </div>
</div>
<!-- End Button -->


<div class="col-md-9">
    <div class="panel panel-default">
        <div id="collapse2" class="panel-collapse collapse in" aria-expanded="true">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="dgvParam"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/reksa.otorisasi.authglobalparam.js"></script>
<script src="~/js/reksa.otorisasi.authglobalparam.events.js"></script>