@model Reksa.ViewModels.OtorisasiListViewModel
@using Reksa.Models
@using Kendo.Mvc.UI.Fluent

@{
    ViewData["Title"] = "Otorisasi Sinkronisasi";
}

<div class="col-md-3">
    <div class="panel panel-default" style="padding-bottom:100%">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a>Otorisasi Sinkronisasi</a>
            </h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    @(Html.Kendo().TreeView().Name("trvMenu")
                            .BindTo((IEnumerable<CommonTreeViewModel>)ViewBag.Tree, (NavigationBindingFactory<TreeViewItem> mappings) =>
                            {
                                mappings.For<CommonTreeViewModel>(binding => binding.ItemDataBound((item, node) =>
                                {
                                    item.Id = node.tree_id.ToString(); item.Text = node.tree_name; item.Expanded = node.Expanded;
                                    item.SpriteCssClasses = node.populate_query.ToString();
                                }).Children(node => node.Children));
                            }).Events(events => events.Select("trvMenu_NodeMouseClick"))

                    )
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Begin Button -->
<div class="col-md-9">
    <div class="card-box">
        <div class="row">
            <div class="input-group">
                <button id=btnApprove class="btn btn-info waves-effect waves-light" style="margin-right:10px">
                    <span class="btn-label">
                        <i class="fa fa-cogs"></i>
                    </span>
                    Process
                </button>
                <button id="btnReject" class="btn btn-danger waves-effect waves-light" style="margin-right:10px">
                    <span class="btn-label">
                        <i class="fa fa-times"></i>
                    </span>
                    Reject
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End Button -->

<div class="col-md-9">
    <div class="card-box">
        <div class="row">
            <div id="dgDetail"></div>
        </div>
    </div>
</div>

<div class="col-md-9">
    <div class="card-box">
        <div class="row">
            <div id="dataGridView1"></div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card-box">
        <div class="row">
            <div id="dgMain"></div>
        </div>
    </div>
</div>
<script src="~/js/reksa.otorisasi.authsync.js"></script>
<script src="~/js/reksa.otorisasi.authsync.events.js"></script>