@model Reksa.ViewModels.OtorisasiListViewModel

@{
    ViewData["Title"] = "Otorisasi Delete Transaksi";
}

<!-- Begin Button -->
<div class="col-md-12">
    <div class="card-box">
        <div class="row">
            <button id=btnRefresh class="btn btn-default waves-effect waves-light" style="margin-right:10px">
                <span class="btn-label">
                    <i class="fa fa-refresh"></i>
                </span>
                Refresh
            </button>
            <button id=btnProcess class="btn btn-info waves-effect waves-light" style="margin-right:10px">
                <span class="btn-label">
                    <i class="fa fa-cogs"></i>
                </span>
                Process
            </button>
            <button id="btnReject" class="btn btn-danger waves-effect waves-light" style="margin-right:10px">
                <span class="btn-label">
                    <i class="fa fa-times"></i>
                </span>
                Reject
            </button>
        </div>
    </div>
</div>
<!-- End Button -->
<div class="col-md-12">
    <div class="card-box">
        <div class="row">
            <div class="col-md-12">
                <div id="dataGridView1"></div>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        var grid = {
            height: 200
        };
        $("#dataGridView1").kendoGrid(grid);
    });
</script>