@{
    ViewBag.Title = "Parameter Fee Detail";

    string _jenisFee = (string)ViewBag.JenisFee;
    string _subsID = (string)ViewBag.SubsID;

    Layout = null;
}
    <div class="portlet">
        <div class="portlet-heading bg-custom">
            <button type="button" class="close m-t-5" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="panel-title">@ViewBag.Title</h3>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="input-group">
                            <label class="col-sm-6 control-label">Product</label>
                            <label class="col-sm-1 control-label">:</label>
                            <label class="col-sm-7 control-label">@ViewBag.Product</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <label class="col-sm-6 control-label">Jenis Transaksi</label>
                            <label class="col-sm-1 control-label">:</label>
                            <label id="_jenisTrxLabel" class="col-sm-7 control-label"></label>
                        </div>
                    </div>
                    <!-- Begin Tab -->
                    <div id="tabs" class="col-md-12" style="margin-top:20px">
                        <ul class="nav nav-tabs" style="background-color:#efefef;border-style:double;">
                            <li class="active"><a data-toggle="tab" href="#tab-new" id="tabPage3"> NEW DATA</a></li>
                            <li><a data-toggle="tab" href="#tab-old" id="tabPage4"> OLD DATA</a></li>
                        </ul>

                        <div class="tab-content" style="border-style:double">
                            <div id="tab-new" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="portlet">
                                            <div class="portlet-heading bg-custom">Tiering Notification</div>
                                            <div class="portlet-body">
                                                <div class="row">
                                                    <div id="datagridTieringSubs"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="portlet">
                                            <div class="portlet-heading bg-custom">Setting GL</div>
                                            <div class="portlet-body">
                                                <div class="row">
                                                    <div id="datagridSettingGLSubs"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-old" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="portlet">
                                            <div class="portlet-heading bg-custom">Tiering Notification</div>
                                            <div class="portlet-body">
                                                <div class="row">
                                                    <div id="datagridTieringSubsOld"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="portlet">
                                            <div class="portlet-heading bg-custom">Setting GL</div>
                                            <div class="portlet-body">
                                                <div class="row">
                                                    <div id="datagridSettingGLSubsOld"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Tab -->
                </div>
            </div>
        </div>
    </div>
<script>
    $(document).ready(function () {
        var gridOptions = {
            height: 200
        };
        $("#datagridTieringSubs").kendoGrid(gridOptions);
        $("#datagridSettingGLSubs").kendoGrid(gridOptions);
        $("#datagridTieringSubsOld").kendoGrid(gridOptions);
        $("#datagridSettingGLSubsOld").kendoGrid(gridOptions);
        Initialize();
    });

    function Initialize()
    {
        var _jenisFee = "@ViewBag.JenisFee";
        var _subsID = "@ViewBag.SubsID";

        if (_jenisFee == "RKPF01")
        {
            $("#_jenisTrxLabel").text('SUBSCRIPTION');
        }
        else if (_jenisFee == "RKPF02")
        {
            $("#_jenisTrxLabel").text('REDEMPTION');
        }
        else if (_jenisFee == "RKPF03")
        {
            $("#_jenisTrxLabel").text('SWITCHING');
        }
        else if (_jenisFee == "RKPF04") 
        {
            $("#_jenisTrxLabel").text('MAINTENANCE FEE');
        }
        else if (_jenisFee == "RKPF05")
        {
            $("#_jenisTrxLabel").text('UPFRONT FEE');
        }
        else if (_jenisFee == "RKPF06")
        {
            $("#_jenisTrxLabel").text('SELLING FEE');
        }       

        PopulateDetail(_subsID, _jenisFee);
    }

    function PopulateDetail(SubsId, JenisFee)
    {
        $.ajax({
            type: 'GET',
            url: '/Otorisasi/PopulateVerifyParamFeeDetail',
            data: { SubsId: SubsId, JenisFee: JenisFee },
            success: function (data) {
                if (data.blnResult) {
                    console.log(data);
                    var grid1 = $("#datagridTieringSubs").data("kendoGrid");
                    var grid2 = $("#datagridSettingGLSubs").data("kendoGrid");
                    var grid3 = $("#datagridTieringSubsOld").data("kendoGrid");
                    var grid4 = $("#datagridSettingGLSubsOld").data("kendoGrid");

                    var gridData1 = populateGrid(data.dsResult.table);
                    grid1.setOptions(gridData1);
                    grid1.dataSource.page(1);
                    grid1.select("tr:eq(0)");
                    $("#datagridTieringSubs th[data-field=product]").html("Product")
                    $("#datagridTieringSubs th[data-field=aumMin]").html("Aum Min")
                    $("#datagridTieringSubs th[data-field=aumMax]").html("AUM Max")
                    $("#datagridTieringSubs th[data-field=nispPct]").html("Bank Percent")
                    $("#datagridTieringSubs th[data-field=fundMgrPct]").html("Fund Mngr Percent")
                    $("#datagridTieringSubs th[data-field=maintFee]").html("Maintenance Fee")
                    $("#datagridTieringSubs th[data-field=percentFrom]").html("Percent From")
                    $("#datagridTieringSubs th[data-field=percentTo]").html("Percent To")
                    $("#datagridTieringSubs th[data-field=mustApproveBy]").html("Persetujuan")

                    var gridData2 = populateGrid(data.dsResult.table1);
                    grid2.setOptions(gridData2);
                    grid2.dataSource.page(1);
                    grid2.select("tr:eq(0)");
                    $("#datagridSettingGLSubs th[data-field=product]").html("Product")
                    $("#datagridSettingGLSubs th[data-field=sequence]").html("Sequence")
                    $("#datagridSettingGLSubs th[data-field=glName]").html("GL Name")
                    $("#datagridSettingGLSubs th[data-field=glNumber]").html("GL Number")
                    $("#datagridSettingGLSubs th[data-field=officeId]").html("Office ID")
                    $("#datagridSettingGLSubs th[data-field=percentage]").html("Percentage")

                    var gridData3 = populateGrid(data.dsResult.table2);
                    grid3.setOptions(gridData3);
                    grid3.dataSource.page(1);
                    grid3.select("tr:eq(0)");
                    $("#datagridTieringSubsOld th[data-field=product]").html("Product")
                    $("#datagridTieringSubsOld th[data-field=aumMin]").html("Aum Min")
                    $("#datagridTieringSubsOld th[data-field=aumMax]").html("AUM Max")
                    $("#datagridTieringSubsOld th[data-field=nispPct]").html("Bank Percent")
                    $("#datagridTieringSubsOld th[data-field=fundMgrPct]").html("Fund Mngr Percent")
                    $("#datagridTieringSubsOld th[data-field=maintFee]").html("Maintenance Fee")
                    $("#datagridTieringSubsOld th[data-field=percentFrom]").html("Percent From")
                    $("#datagridTieringSubsOld th[data-field=percentTo]").html("Percent To")
                    $("#datagridTieringSubsOld th[data-field=mustApproveBy]").html("Persetujuan")

                    var gridData4 = populateGrid(data.dsResult.table3);
                    grid4.setOptions(gridData4);
                    grid4.dataSource.page(1);
                    grid4.select("tr:eq(0)");
                    $("#datagridSettingGLSubsOld th[data-field=product]").html("Product")
                    $("#datagridSettingGLSubsOld th[data-field=sequence]").html("Sequence")
                    $("#datagridSettingGLSubsOld th[data-field=glName]").html("GL Name")
                    $("#datagridSettingGLSubsOld th[data-field=glNumber]").html("GL Number")
                    $("#datagridSettingGLSubsOld th[data-field=officeId]").html("Office ID")
                    $("#datagridSettingGLSubsOld th[data-field=percentage]").html("Percentage")
                }
                else
                {
                }
            }
        });
    }

    function populateGrid(response) {
        if (response.length > 0) {
            var columns = generateColumns(response);
            return gridOptions = {
                dataSource: {
                    transport: {
                        read: function (options) {
                            options.success(response);
                        }
                    },
                    pageSize: 6,
                    page: 1
                },
                //change: onRowKinerjaSelect,
                columns: columns,
                pageable: true,
                selectable: true,
                height: 200
            };
        } 
    }

    function generateColumns(response) {
        var columnNames = Object.keys(response[0]);
        return columnNames.map(function (name) {
            return {
                field: name,
                width: 200,
                title: name
            };
        })
    }
</script>