@model Reksa.ViewModels.UtilitasListViewModel
@{
    ViewData["Title"] = "Process";
}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="m-t-0 header-title">
                <a>Process</a>
            </h4>
        </div>
        <div class="panel-body">

            <div class="card-box">
                <!-- Begin Button -->
                <div>
                    <div class="input-group">
                        <button id=btnProcess class="btn btn-default waves-effect waves-light" style="margin-right:10px">
                            <span class="btn-label">
                                <i class="fa fa-check"></i>
                            </span>
                            Process
                        </button>
                    </div>
                </div>
                <!-- End Button -->
            </div>

            @(Html.Kendo().Grid(Model.listProcess)
                .Name("dataGridView1")
                .Columns(columns =>
                {
                    columns.Bound(p => p.CheckB).ClientTemplate("<input type='checkbox' onclick='onCheckBoxProcessClick(this)' value= '#= ProcessId #' " + "# if (CheckB) { #" + "checked='checked'" + "# } #" + "/>").ClientHeaderTemplate("<input type='checkbox' id='chkProcessSelectAll' onclick='checkProcessAll(this)'/>").Width(30).Title("Pilih").Sortable(false);
                    columns.Bound(p => p.ProcessId).Width(150).Title("ProcessId");
                    columns.Bound(p => p.SPName).Width(150).Title("SPName");
                    columns.Bound(p => p.ProcessName).Width(150).Title("ProcessName");
                    columns.Bound(p => p.ProcessStatus).Width(150).Title("ProcessStatus");
                    columns.Bound(p => p.CutOffSystem).Width(150).Title("CutOffSystem");
                })
                .Pageable()
                .Scrollable(s => s.Height(300))
                .Selectable(selectable => selectable
                .Mode(GridSelectionMode.Single))
            )
        </div>
    </div>
</div>
<script src="~/js/reksa.utilitas.process.js"></script>
<script src="~/js/reksa.utilitas.process.events.js"></script>