<div>
    <div class="col-md-4">
        <label>Minimal RDB Non Karyawan</label>
        <div class="card-box">
            <div class="row">
                <div class="col-md-12">
                    <div id="dataGridView7"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <label>Fee</label>
        <div class="card-box">
            <div class="row">
                <div class="col-md-12">
                    <div id="dataGridView8"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <label>Minimal RDB Karyawan</label>
        <div class="card-box">
            <div class="row">
                <div class="col-md-12">
                    <div id="dataGridView6"></div>
                </div>
            </div>
        </div>
    </div>
</div>