<div>
    <div class="col-md-4">
        <div class="portlet">
            <div class="portlet-heading bg-custom">Minimal RDB Non Karyawan</div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="dataGridView7"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="portlet">
            <div class="portlet-heading bg-custom">Fee</div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="dataGridView8"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="portlet">
            <div class="portlet-heading bg-custom">Minimal RDB Karyawan</div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="dataGridView6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
