@using Kendo.Mvc.UI
@model Reksa.ViewModels.MasterListViewModel
@{
    ViewData["Title"] = "Info Produk";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="m-t-0 header-title">
            <a>Info Produk</a>
        </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse in" aria-expanded="true">
        <div class="panel-body">
            <div class="col-md-12">
                <div class="col-md-6">
                    <!-- Begin Kode Product -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Kode Produk</label>
                        <div class="input-group">
                            @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ProdCode" }).Enable(false)
                            <span class="input-group-btn">
                                <a id="cmpsrSearch1" href="#display" data-toggle="modal" data-target="#ProductModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                            </span>
                            @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;", @id = "ProdName" }).Enable(false)
                            @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdId).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ProdId", @type = "hidden" })
                        </div>
                    </div>
                    <!-- End Kode Product -->
                </div>
                <div class="col-md-6">
                    <div class="form-group text-center">
                        <label class="col-sm-3 control-label"></label>               
                            <h1 id="label27">Default</h1>
                    </div>
                </div>
            </div>
            <!-- Begin Buttons -->
            <div class="col-md-12" style="padding-top: 30px">
                <div class="input-group">
                    <button class="btn btn-default waves-effect waves-light" id="btnRefresh" style="margin-right:10px">
                        <span class="btn-label">
                            <i class="fa fa-refresh"></i>
                        </span>
                        Refresh
                    </button>
                    <button id="btnAdd" class="btn btn-default waves-effect waves-light" style="margin-right:10px">
                        <span class="btn-label">
                            <i class="fa fa-plus"></i>
                        </span>
                        New
                    </button>
                    <button id="btnEdit" class="btn btn-info waves-effect waves-light" style="margin-right:10px">
                        <span class="btn-label">
                            <i class="fa fa-edit"></i>
                        </span>
                        Edit
                    </button>
                    <button id="btnDelete" class="btn btn-danger waves-effect waves-light" style="margin-right:10px">
                        <span class="btn-label">
                            <i class="fa fa-trash"></i>
                        </span>
                        Delete
                    </button>
                    <button id="btnSave" class="btn btn-warning waves-effect waves-light" style="margin-right:10px">
                        <span class="btn-label">
                            <i class="fa fa-save"></i>
                        </span>
                        Save
                    </button>
                    <button id="btnCancel" class="btn btn-pink waves-effect waves-light" style="margin-right:10px">
                        <span class="btn-label">
                            <i class="fa fa-remove"></i>
                        </span>
                        Cancel
                    </button>
                </div>
            </div>
            <!-- End Buttons -->
            <!-- Begin Tab nav 12 Oct 2019 -->
            <div class="col-md-12" style="margin-top:20px">
                <ul class="nav nav-tabs" style="background-color:#efefef;border-style:double;">
                    <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-info-circle"></i> General Info</a></li>
                    <li><a data-toggle="tab" href="#menu1"><i class="fa fa-money"></i> Fee</a></li>
                    <li><a data-toggle="tab" href="#menu2"><i class="fa fa-clock-o"></i> Reksadana Berjangka</a></li>
                </ul>
                <div class="tab-content" style="border-style:double">
                    <div id="home" class="tab-pane fade in active">
                        <div class="row">
                            <div class="col-md-12">
                                @{
                                    Html.RenderPartial("_InfoProdukGeneral.cshtml", Model);
                                }
                            </div>
                        </div>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <div class="row">
                                @{
                                    Html.RenderPartial("_InfoProdukFee.cshtml", Model);
                                }
                        </div>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <div class="row">
                            <div class="col-md-12">
                                @{
                                    Html.RenderPartial("_InfoProdukRDB.cshtml", Model);
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Tab Nav -->

        </div>
        <!-- Begin Modals -->
        <div class="modal fade" id="ProductModal" tabindex="-1" role="dialog" aria-labelledby="ProductModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content"></div>
            </div>
        </div>
        <!-- End Modals -->
    </div>
</div>
<script src="~/js/reksa.master.infoproduk.js"></script>
<script src="~/js/reksa.master.infoproduk.events.js"></script>