
@model Reksa.ViewModels.ParameterListViewModel

@{
    ViewData["Title"] = "Tutup Client Code";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="m-t-0 header-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true">Tutup Client Code</a>
        </h4>
    </div>
    Tutup Client Code
</div>
