
@model Reksa.ViewModels.ParameterListViewModel

@{
    ViewData["Title"] = "Pindah Cabang";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="m-t-0 header-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true">Pindah Cabang</a>
        </h4>
    </div>
    Pindah Cabang
</div>
