@model Reksa.ViewModels.LoginViewModel
@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="~/favicon.ico">

    <title>Login - Reksadana</title>

    <link href="~/lib/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/responsive.css" rel="stylesheet" type="text/css" />


    <script src="~/lib/assets/js/modernizr.min.js"></script>

</head>
<body>
    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="wrapper-page">
        <div class=" card-box">
            <div class="panel-heading">
                <h3 class="text-center"> Reset Password </h3>
            </div>

            <div class="panel-body">
                <form method="post" action="#" role="form" class="text-center">
                    <div class="alert alert-info alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            ×
                        </button>
                        Enter your <b>Email</b> and instructions will be sent to you!
                    </div>
                    <div class="form-group m-b-0">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Enter Email" required="">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default w-sm waves-effect waves-light">
                                    Reset
                                </button>
                            </span>
                        </div>
                    </div>

                </form>
            </div>
        </div>


    </div>
    <script>
        var resizefunc = [];
    </script>

    <!-- jQuery  -->
    <script src="~/lib/assets/js/jquery.min.js"></script>
    <script src="~/lib/assets/js/bootstrap.min.js"></script>
    <script src="~/lib/assets/js/detect.js"></script>
    <script src="~/lib/assets/js/fastclick.js"></script>
    <script src="~/lib/assets/js/jquery.slimscroll.js"></script>
    <script src="~/lib/assets/js/jquery.blockUI.js"></script>
    <script src="~/lib/assets/js/waves.js"></script>
    <script src="~/lib/assets/js/wow.min.js"></script>
    <script src="~/lib/assets/js/jquery.nicescroll.js"></script>
    <script src="~/lib/assets/js/jquery.scrollTo.min.js"></script>


    <script src="~/lib/assets/js/jquery.core.js"></script>
    <script src="~/lib/assets/js/jquery.app.js"></script>
</body>

</html>