
@using Kendo.Mvc.UI
@model Reksa.ViewModels.POListViewModel

@{
    ViewData["Title"] = "Cut Maintenance Fee";
}


<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Cut Maintenance Fee</a>
        </h4>
    </div>
    <div class="panel-body">
        <div class="card-box">
            <!-- Begin Button -->
            <div class="input-group">
                <button id=btnProses type="button" class="btn btn-default waves-effect waves-light">
                    <span class="btn-label">
                        <i class="fa fa-search"></i>
                    </span>
                    Proses
                </button>
            </div>
            <!-- End Button -->
        </div>
        <div class="col-md-12">
            <!-- Begin StartDate -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Start Period</label>
                <div class="input-group">
                    @(Html.Kendo().DatePicker().Name("dateTimePicker1").Format("{0:dd/MM/yyyy}")
                    )
                </div>
            </div>
            <!-- End StartDate -->
            <!-- Begin EndDate -->
            <div class="form-group">
                <label class="col-sm-2 control-label">End Period</label>
                <div class="input-group">
                    @(Html.Kendo().DatePicker().Name("dateTimePicker2").Format("{0:dd/MM/yyyy}"))
                </div>
            </div>
            <!-- End EndDate -->
            <!-- Begin Kode Produk -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Kode Produk</label>
                <div class="input-group">
                    <div id="dataGridViewProduct"></div>
                </div>
            </div>
            <!-- End Kode Produk -->
            <!-- Begin Buttons -->
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="input-group">
                    <button id="button1" class="btn btn-default waves-effect waves-light">
                        <span class="btn-label">
                            <i class="fa fa-search"></i>
                        </span>
                        View
                    </button>
                </div>
            </div>
            <!-- End Buttons -->
            <!-- Begin dataGridView1 -->
            <div class="col-md-12">
                    <div id="dataGridView1"></div>
            </div>
            <!-- End dataGridView1 -->
        </div>
    </div>
</div>
<script src="~/js/reksa.po.cutmaintenancefee.js"></script>
<script src="~/js/reksa.po.cutmaintenancefee.events.js"></script>