
@using Kendo.Mvc.UI
@model Reksa.ViewModels.POListViewModel
@{
    ViewData["Title"] = "Cut Redemption Fee";
}



<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Cut Redemption Fee</a>
        </h4>
    </div>
    <div class="panel-body">
        <div class="col-md-6">
            <!-- Begin StartDate -->
            <div class="form-group">
                <label class="col-sm-3 control-label">Start Period</label>
                <div class="input-group">
                    @(Html.Kendo().DatePicker().Name("dateTimePicker1").HtmlAttributes(new { style = "width: 100%" }).Format("{0:dd/MM/yyyy}"))
                </div>
            </div>
            <!-- End StartDate -->
            <!-- Begin EndDate -->
            <div class="form-group">
                <label class="col-sm-3 control-label">End Period</label>
                <div class="input-group">
                    @(Html.Kendo().DatePicker().Name("dateTimePicker2").HtmlAttributes(new { style = "width: 100%" }).Format("{0:dd/MM/yyyy}"))
                </div>
            </div>
            <!-- End EndDate -->
            <!-- Begin Buttons -->
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="input-group">
                    <button id="btnProses" class="btn btn-default waves-effect waves-light">
                        <span class="btn-label">
                            <i class="fa fa-cog"></i>
                        </span>
                        Process
                    </button>
                </div>
            </div>
            <!-- End Buttons -->
        </div>
    </div>
</div>
<script src="~/js/reksa.po.cutredempfee.js"></script>
<script src="~/js/reksa.po.cutredempfee.events.js"></script>


