@model Reksa.ViewModels.POListViewModel
@{
    ViewData["Title"] = "Cut Selling Fee";
}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="m-t-0 header-title">
                <a>Cut Selling Fee</a>
            </h4>
        </div>
        <div class="panel-body">

            <div class="card-box">
                <!-- Begin Button -->
                <div>
                    <div class="input-group">
                        <button id=btnProcess class="btn btn-default waves-effect waves-light" style="margin-right:10px">
                            <span class="btn-label">
                                <i class="fa fa-cogs"></i>
                            </span>
                            Process
                        </button>
                    </div>
                </div>
                <!-- End Button -->
            </div>
            Cut Selling Fee
        </div>
    </div>
</div>
