
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reksa API</title>

</head>
<body>
    <div class="account-pages"></div>
    <div class="clearfix"></div>

    <!-- HOME -->
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="home-wrapper">
                        <h1 class="icon-main text-custom"><i class="md md-album"></i></h1>
                        <h1 class="home-text text-uppercase"><span class="text-primary">Welcome</span> <span class="text-pink">to</span> <span class="text-info">Reksa API</span></h1>
                        <h4 class="text-muted">API for Reksa</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END HOME -->


</body>
</html>



